@import 'defaults.scss';

:host {
  ::ng-deep m-sidebarWidget {
    .m-sidebarWidget {
      padding: 0;
      @include m-theme() {
        border: none !important;
      }
    }
    .m-sidebarWidget__title {
      padding: 0;
    }
    .m-sidebarWidget__body {
      padding: 0 !important;
    }

    .m-newsfeedActivitySuggestion__item {
      margin-top: 20px;

      @media screen and (max-width: $max-mobile) {
        margin-top: 0;
      }

      & > a {
        display: block;
        &,
        * {
          text-decoration: none;
        }
      }
    }
  }

  ::ng-deep m-loadingSpinner {
    @media screen and (max-width: $max-mobile) {
      display: none;
    }
  }
}
