<m-dropdownMenu
  [menu]="settingsMenu"
  [anchorPosition]="{ top: '100%', right: '0' }"
  class="m-groupsSettingsButton__triggerContainer"
>
  <ng-container *ngIf="!v2; else v2Style">
    <i class="m-groupsSettingsButton__trigger material-icons">settings</i>
    <i
      *ngIf="group['is:muted']"
      class="m-groupsSettingsButton__trigger minds-groups-button-badge material-icons"
      >notifications_off</i
    >
  </ng-container>
  <ng-template #v2Style>
    <m-button
      class="m-button-v2 m-button-v2--iconOnly"
      overlay="true"
      iconOnly="true"
    >
      <m-icon iconId="more_horiz" [sizeFactor]="0"></m-icon>
    </m-button>
  </ng-template>
</m-dropdownMenu>

<ng-template #settingsMenu>
  <ul>
    <!-- ----------------------------- -->
    <!-- OWNER FUNCTIONS -->
    <!-- ----------------------------- -->
    <ng-container *ngIf="group['is:owner']">
      <m-dropdownMenu__item (click)="toggleEdit()">
        <span>
          <ng-container *ngIf="!editing">Edit</ng-container>
          <ng-container *ngIf="editing">Save</ng-container></span
        >
      </m-dropdownMenu__item>

      <m-dropdownMenu__item
        *ngIf="group.videoChatDisabled && !v2"
        (click)="toggleVideoChat(true)"
      >
        Enable gathering
      </m-dropdownMenu__item>
      <m-dropdownMenu__item
        *ngIf="!group.videoChatDisabled && !v2"
        (click)="toggleVideoChat(false)"
      >
        Disable gathering
      </m-dropdownMenu__item>

      <m-dropdownMenu__item
        *ngIf="group.moderated"
        (click)="toggleModeration(false)"
      >
        Disable moderation
      </m-dropdownMenu__item>
      <m-dropdownMenu__item
        *ngIf="!group.moderated"
        (click)="toggleModeration(true)"
      >
        Enable moderation
      </m-dropdownMenu__item>

      <m-dropdownMenu__item
        *ngIf="!group.membership"
        (click)="togglePublic(true)"
      >
        Make public
      </m-dropdownMenu__item>
      <m-dropdownMenu__item
        *ngIf="group.membership"
        (click)="togglePublic(false)"
      >
        Make closed
      </m-dropdownMenu__item>
    </ng-container>

    <!-- ----------------------------- -->
    <!-- MEMBER FUNCTIONS -->
    <!-- ----------------------------- -->
    <ng-container *ngIf="group['is:member']">
      <m-dropdownMenu__item
        [hidden]="group['is:muted']"
        (click)="mute()"
        i18n="@@GROUPS__PROFILE__GROUP_SETTINGS_BTN__DISABLE_NOTIFICATIONS"
      >
        Disable notifications
      </m-dropdownMenu__item>
      <m-dropdownMenu__item
        [hidden]="!group['is:muted']"
        (click)="unmute()"
        i18n="@@GROUPS__PROFILE__GROUP_SETTINGS_BTN__ENABLE_NOTIFICATIONS"
      >
        Enable notifications
      </m-dropdownMenu__item>
    </ng-container>

    <!-- ----------------------------- -->
    <!-- REPORT (shown to everyone)-->
    <!-- ----------------------------- -->
    <m-dropdownMenu__item
      class="m-groups-settings-dropdown__item--report"
      (click)="report(); showMenu = false"
    >
      <ng-container i18n="@@M__ACTION__REPORT">Report</ng-container>
    </m-dropdownMenu__item>

    <!-- ----------------------------- -->
    <!-- ADMIN FUNCTIONS -->
    <!-- ----------------------------- -->
    <ng-container *ngIf="session.isAdmin()">
      <m-dropdownMenu__item
        *ngIf="!group.mature"
        (click)="setExplicit(true)"
        i18n="@@M__ACTION__SET_EXPLICIT"
      >
        Set explicit
      </m-dropdownMenu__item>
      <m-dropdownMenu__item
        *ngIf="group.mature"
        (click)="setExplicit(false)"
        i18n="@@M__ACTION__REMOVE_EXPLICIT"
      >
        Remove explicit
      </m-dropdownMenu__item>

      <!-- NSFW  -->
      <m-nsfw-selector
        service="editing"
        [selected]="group.nsfw"
        (selectedChange)="setNSFWSelected($event)"
      ></m-nsfw-selector>
    </ng-container>
    <!-- ----------------------------- -->
    <!-- CREATOR FUNCTIONS -->
    <!-- ----------------------------- -->

    <m-dropdownMenu__item
      *ngIf="group['is:creator'] && !group.deleted"
      class="m-groups-settings-dropdown__item--deleteGroup"
      (click)="deletePrompt()"
      i18n="@@GROUPS__PROFILE__GROUP_SETTINGS_BTN__DELETE_GROUP"
      data-ref="data-minds-group-dropdown-delete"
    >
      Delete group
    </m-dropdownMenu__item>
  </ul>
</ng-template>
<!-- --------------------- -->
<m-modal [open]="featureModalOpen" (closed)="onFeatureModalClose($event)">
  <div class="m-button-feature-modal">
    <select [(ngModel)]="category">
      <option value="not-selected" i18n="@@M__COMMON__SELECT_A_CATEGORY">
        -- SELECT A CATEGORY --
      </option>
      <option *ngFor="let category of categories" [value]="category.id">
        {{ category.label }}
      </option>
    </select>

    <button
      class="mdl-button mdl-button--colored"
      (click)="feature()"
      i18n="@@M__ACTION__FEATURE"
    >
      Feature
    </button>
  </div>
</m-modal>
