@import 'defaults.scss';

:host {
  display: flex;
  max-height: 20px;

  span {
    @include body2Medium;
    text-decoration: none;
    @include m-theme() {
      color: themed($m-link-text);
    }
  }

  &.m-boostFlag--small {
    i {
      font-size: 16px;
      padding-right: $spacing1;
    }

    span {
      @include body3Regular;
    }
  }

  &.m-boostFlag--medium i {
    font-size: 22px;
    line-height: 20px;
    padding-right: $spacing2;
  }

  i {
    @include m-theme() {
      color: themed($m-link-text);
    }
  }
}
