@import 'defaults.scss';

:host {
  display: block;

  // *********************************
  // ** GROUP CONTEXT **
  // *********************************
  &.m-activity__ownerBlock--groupContext {
    &:not(.m-activity__ownerBlock--minimalMode) {
      .m-activity__ownerBlock {
        align-items: flex-start;
        margin-bottom: $spacing2;
      }
    }
    .m-activityOwnerBlock__avatar {
      padding-right: 0.75rem;
    }
    .m-activityOwnerBlockColumn__displayNameWrapper {
      margin-top: $spacing1;

      .m-activityOwnerBlock__secondaryName {
        display: inline-block;
        margin-left: 0;

        span {
          @include body3Bold;
        }
      }
      ::ng-deep .m-activityPermalink__wrapper .m-activityPermalink__text {
        // body3Regular override
        font-size: 0.75rem !important;
        line-height: 1.063rem !important;
        letter-spacing: 0.011em !important;
      }
    }
  }
  // *********************************
  // ** MINIMAL MODE **
  // *********************************

  &.m-activity__ownerBlock--minimalMode {
    padding-left: $spacing4;
    padding-right: $spacing2;
    padding-top: $spacing2;
    padding-bottom: $spacing2;

    .m-activityOwnerBlock__primaryName {
      @include m-theme() {
        color: themed($m-textColor--secondary);
      }
    }

    &.m-activity__ownerBlock--quoteOrRemind {
      // Use a bit more room when there is a remind icon overlaying avatar
      .m-activityOwnerBlock__primaryName {
        margin-left: $spacing2;
      }
    }
  }

  // *********************************
  // ** MODAL **
  // *********************************
  m-activity__modal & {
    .m-activity__ownerBlock {
      padding: 20px $activitySpacing--modal 0;
    }

    a.m-activityOwnerBlock__secondaryName {
      margin-left: 0;
    }
  }
  // *********************************
  // ** SIDEBAR BOOST **
  // *********************************
  .m-activity--isSidebarBoost & {
    .m-activity__ownerBlock {
      padding: $activitySpacing--minimalMode;
    }
    .m-activityOwnerBlockPermalink__text {
      padding: 0;
    }

    .m-activityOwnerBlock__dot {
      display: none;
    }
  }

  // *********************************
  // *********************************
  // *********************************
  // ** DEFAULT **
  // *********************************
  // *********************************
  // *********************************

  .m-activity__ownerBlock {
    display: flex;
    align-items: center;
    flex-direction: row;

    width: 100%;
    padding-bottom: $spacing1;
    box-sizing: border-box;

    a {
      text-decoration: none;
      &:hover {
        text-decoration: underline;
      }
    }
  }

  ::ng-deep {
    .m-activityOwnerBlock__avatar {
      align-self: center;
      padding-right: $spacing2;
      position: relative;
    }
  }

  a.m-activityOwnerBlock__primaryName {
    @include m-theme() {
      color: themed($m-textColor--primary);
    }

    span {
      @include body1Bold;
    }

    &:hover {
      .m-activityOwnerBlock__remindIcon {
        text-decoration: none;
      }
    }
  }

  a.m-activityOwnerBlock__secondaryName {
    margin-left: $spacing1;
    @media screen and (max-width: $max-mobile) {
      display: none;
    }
    span {
      @include body2Regular;
      @include m-theme() {
        color: themed($m-textColor--secondary);
      }
    }
  }

  .m-activityOwnerBlock__dot {
    padding: 0 $spacing1;
    @include body2Regular;
    @include m-theme() {
      color: themed($m-textColor--secondary);
    }
  }

  .m-activityOwnerBlock__remindIcon {
    font-size: 18px;
    vertical-align: middle;
    @include m-theme() {
      color: themed($m-blue);
    }
  }

  ::ng-deep m-activity__views {
    @media screen and (max-width: $max-mobile) {
      display: none;
    }
  }

  // *********************************
  // ** FLEX STRUCTURAL CLASSES **
  // *********************************
  .m-activityOwnerBlock__spacer {
    flex: 1;
  }

  .m-activityOwnerBlock__column {
    display: flex;
    flex-direction: column;

    .m-activityOwnerBlockColumn__displayNameWrapper {
      display: flex;
      align-items: center;
    }
  }

  ::ng-deep .m-activityOwnerBlock__truncate {
    &,
    & > * {
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
    }
  }

  ::ng-deep .m-activityOwnerBlock__fixedWidth {
    white-space: nowrap;

    > div {
      display: inline-block;
    }
  }
}
