@import 'defaults.scss';

:host {
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-between;
  height: 100%;
  max-height: 100%;

  .m-onboardingV5__stepContentContainer {
    .m-onboardingV5RadioSurvey__title {
      margin: $spacing8 0 $spacing4 0;

      @include heading4Bold;
      @include m-theme() {
        color: themed($m-textColor--primary);
      }
    }

    .m-onboardingV5RadioSurvey__form {
      display: flex;
      flex-flow: column nowrap;

      .m-onboardingV5RadioSurvey__radioOptionContainer {
        display: flex;
        flex-flow: row nowrap;
        padding: $spacing6 0;
        cursor: pointer;

        .m-onboardingV5RadioSurvey__radioOptionLeft {
          display: flex;
          flex-flow: row nowrap;
          align-items: center;
          justify-content: center;
          width: 32px;
          margin-right: $spacing1;

          .m-onboardingV5RadioSurvey__radioInput {
            height: 24px;
            width: 24px;
            vertical-align: middle;
            opacity: 0;
            position: absolute;

            @include m-theme() {
              accent-color: themed($m-action);
            }
          }

          .radio-custom-label {
            position: relative;
            cursor: pointer;
          }

          .m-onboardingV5RadioSurvey__radioInput,
          .m-onboardingV5RadioSurvey__radioInputLabel {
            display: inline-block;
            vertical-align: middle;
            margin: 5px;
            cursor: pointer;
          }

          .m-onboardingV5RadioSurvey__radioInput
            + .m-onboardingV5RadioSurvey__radioInputLabel:before {
            content: '';
            border-radius: 50%;
            display: inline-block;
            text-align: center;
            vertical-align: middle;
            width: 24px;
            height: 24px;
            margin-right: 10px;

            @include m-theme() {
              background: themed($m-bgColor--primary);
              border: 1px solid themed($m-borderColor--primary);
            }
          }

          .m-onboardingV5RadioSurvey__radioInput:checked
            + .m-onboardingV5RadioSurvey__radioInputLabel:before {
            display: flex;
            align-items: center;
            justify-content: center;
            font-size: 16px;
            content: '\e876';
            font-family: 'Material Icons';
            border: 1px solid unset;
            color: $grey-900;

            @include m-theme() {
              background: themed($m-action);
            }
          }
        }

        .m-onboardingV5RadioSurvey__radioOptionRight {
          display: flex;
          flex-flow: column nowrap;
          justify-content: center;
          width: 100%;

          .m-onboardingV5RadioSurvey__radioOptionTitle {
            cursor: pointer;

            @include body2Bold;
            @include m-theme() {
              color: themed($m-textColor--primary);
            }
          }

          .m-onboardingV5RadioSurvey__radioOptionDescription {
            cursor: pointer;

            @include body2Regular;
            @include m-theme() {
              color: themed($m-textColor--secondary);
            }
          }
        }
      }
    }
  }
}
