@import 'defaults.scss';

:host {
  padding: $spacing8;
  border-radius: 5px;

  @include z-index(body);
  @include m-theme() {
    color: themed($m-textColor--primary);
    background-color: themed($m-bgColor--primary);
  }

  .m-confirmationModal__textWrapper {
    display: flex;
    flex-flow: column nowrap;

    .m-confirmationModal__title {
      @include heading2Bold;
      margin-top: unset;
    }

    .m-confirmationModal__text {
      @include body1Regular;
      -webkit-font-smoothing: antialiased;
      text-rendering: optimizeSpeed;
    }
  }

  .m-confirmationModal__buttonWrapper {
    margin-top: $minds-margin * 4;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;

    .m-confirmationModal__cancelButton {
      margin: 0 $spacing4;
    }

    .m-confirmationModal__confirmButton {
      margin: 0 $spacing4;
    }
  }
}
