@import 'defaults.scss';

:host {
  position: relative;
  display: block;
  width: 100%;
  border-radius: 5px;
  box-sizing: border-box;

  @include m-theme() {
    background: themed($m-bgColor--primary);
  }

  @media screen and (max-width: $max-mobile) {
    margin: 0;
    padding: 0;
    min-height: 100vh;
    border-radius: 0;
  }

  .m-channelShopMembershipsEdit__warning {
    font-size: 14px;
    line-height: 20px;
    display: inline-flex;
    &:not(:last-child) {
      margin-bottom: 15px;
    }
    @include m-theme() {
      color: themed($m-textColor--secondary);
    }

    i {
      font-size: 18px;
      margin-right: 7px;
      @include m-theme() {
        color: themed($m-amber-dark);
      }
    }

    span {
      font-weight: 300;
    }

    a {
      @include m-theme() {
        font-weight: 300;
        color: themed($m-link-text);
      }
    }
  }

  .m-channelShopMembershipsEdit__descriptionField {
    textarea {
      font-weight: 400;
    }
  }

  .m-form__customInputWrapper__checkbox {
    &.disabled {
      cursor: default;
      @include m-theme() {
        color: themed($m-textColor--tertiary);
      }
    }
    @media screen and (max-width: $max-mobile) {
      max-width: 90px;
    }
  }
}

.m-channelShopMemberships__edit {
  padding: 40px 20px 0;

  .m-channelShopMembershipsEdit__header {
    margin: 0 0 40px 0;
  }

  .m-channelShopMembershipsEditHeader__title {
    font-size: 24px;
    line-height: 32px;
    font-weight: 400;

    @include m-theme() {
      color: themed($m-textColor--primary);
    }
  }

  .m-channelShopMembershipsEdit__labelOnly {
    margin-bottom: 0 !important;

    .m-form__row--label {
      width: 50%;
    }
  }

  .m-channelShopMembershipsEdit__fieldDisabled {
    opacity: 0.65;
    cursor: initial !important;
    pointer-events: none;
  }

  .m-channelShopMembershipsEdit__inlineFields {
    display: flex;
    flex-direction: row;
    align-items: center;

    > :first-child {
      width: 50%;
      margin-right: 20px;
    }

    input[type='text'] {
      width: 100%;
    }
  }
  ::ng-deep .m-form__field--checkbox {
    m-tooltip {
      margin-top: -8px;
      margin-left: 8px;
      .m-tooltip--bubble {
        right: 12px;
      }
    }
    @media screen and (max-width: $max-mobile) {
      label {
        padding-left: 32px;
        font-size: 14px;
      }
      m-tooltip {
        margin-left: 6px;
      }
    }
  }
}
