<ng-container *ngIf="supermind && supermind.entity; else postUnavailable">
  <div class="m-supermind__listItem__topBar">
    <div class="m-supermind__listItem__topBarLeft">
      <m-chipBadge>{{ amountBadgeText }}</m-chipBadge>
      <m-supermind__stateLabel
        [supermind]="supermind"
      ></m-supermind__stateLabel>
    </div>
    <a
      *ngIf="context === 'outbox' && supermind.payment_txid"
      class="m-supermind__listItem__topBarHref"
      [href]="'/api/v3/payments/receipt/' + supermind.payment_txid"
      target="_blank"
      >View Receipt</a
    >
  </div>
  <m-activity
    [entity]="supermind.entity"
    [canDelete]="false"
    [displayOptions]="displayOptions"
    [autoplayVideo]="false"
    [canRecordAnalytics]="false"
  ></m-activity>
  <div class="m-supermind__listItem__bottomBar">
    <div class="m-supermindListItem__offerInformation">
      <span
        *ngIf="context === 'outbox' && supermind.receiver_entity"
        class="m-supermindListItem__targetInformation"
      >
        <span i18n="@@SUPERMIND_CONSOLE_LIST_ITEM__OFFER_TARGET">Target: </span>
        <a [href]="'/' + supermind.receiver_entity.username" target="_blank"
          >@{{ supermind.receiver_entity.username }}</a
        >
        <span class="m-supermindListItem__targetInformation--separator"
          >&ensp;·&ensp;</span
        >
      </span>
      <span class="m-supermindListItem__requirementsLabel">
        <span i18n="@@SUPERMIND_CONSOLE_LIST_ITEM__REQUIREMENTS"
          >Requirements:
        </span>
        <span class="m-supermindListItem__requirementsText">{{
          requirementsText
        }}</span>
      </span>
    </div>
    <m-supermind__actionButtons
      [supermind]="supermind"
    ></m-supermind__actionButtons>
  </div>
</ng-container>
<ng-template #postUnavailable>
  <div
    class="m-supermind__listItem__postUnavailable"
    data-ref="supermind-list-item-unavailable"
  >
    <span>Post unavailable</span>
    <span>This post is unavailable because it was deleted.</span>
  </div>
</ng-template>
