<h3
  class="m-newsfeedSidebar__header m-adsBoost__header"
  *ngIf="boosts.length > 0"
>
  <ng-container i18n="@@ADS__BOOSTED_CONTENT">Boosted content</ng-container>
</h3>
<div class="m-ad-boost-entity" *ngFor="let entity of boosts">
  <ng-container *ngIf="entity.type && entity.type === 'user'; else notUser">
    <m-publisherCard [publisher]="entity"></m-publisherCard
  ></ng-container>
  <ng-template #notUser>
    <minds-card
      [object]="entity"
      [displayOptions]="{
        sidebarMode: true,
        isSidebarBoost: true,
        showToolbar: false,
        showComments: false,
        autoplayVideo: false,
        showPostMenu: false
       }"
      class="mdl-card m-border"
    ></minds-card
  ></ng-template>
</div>
