<div class="mf-jumpAnchor" #topAnchor></div>

<m-loadingSpinner [inProgress]="loading"></m-loadingSpinner>

<m-marketing *ngIf="!loading" class="m-pro__marketing">
  <div class="m-marketing__main m-marketing__section--style-2">
    <div class="m-grid m-marketing__wrapper">
      <div
        class="m-grid__column-7 m-grid__column-7--tablet m-grid__column-12--mobile m-marketing__body"
      >
        <h1 *ngIf="data?.hero?.h1">{{ data.hero.h1 }}</h1>
        <markdown
          ngPreserveWhitespaces
          *ngIf="data?.hero?.body"
          class="m-marketing__description"
          >{{ data.hero.body }}</markdown
        >

        <div class="m-proMarketing__subscription">
          <m-pro--subscription
            (onEnable)="goToSettings()"
          ></m-pro--subscription>
        </div>
      </div>

      <div
        class="m-grid__column-5 m-grid__column-12--mobile m-marketing__image m-marketing__imageContainer"
      >
        <span
          [ngClass]="{
            'm-marketing__imageSpan--noBackgroundEffects': !data.hero
              ?.showBackgroundEffects
          }"
        >
          <img
            *ngIf="data?.hero?.image?.data?.attributes?.url"
            [src]="strapiUrl + data.hero.image.data.attributes.url"
            class="m-marketing__image--tall"
            alt="Minds Pro"
          />
        </span>
      </div>
    </div>
  </div>

  <ng-container slot="2">
    <m-marketing__asFeaturedIn></m-marketing__asFeaturedIn>

    <div *ngFor="let sectionData of data?.sections">
      <m-marketing__generalSection
        [leftAligned]="sectionData.leftAligned"
        [title]="sectionData.title"
        [body]="sectionData.body"
        [imageUrl]="
          sectionData.image?.data?.attributes?.url
            ? strapiUrl + sectionData.image?.data?.attributes?.url
            : null
        "
        [imageOverlayUrl]="
          sectionData.imageOverlay?.data?.attributes?.url
            ? strapiUrl + sectionData.imageOverlay?.data?.attributes?.url
            : null
        "
        [actionButtons]="sectionData.actionButtons"
        [showBodyBackground]="sectionData.showBodyBackground"
        [showBackgroundEffects]="sectionData.showBackgroundEffects"
      ></m-marketing__generalSection>
    </div>

    <!-- Final section -->

    <div class="m-marketing__section m-marketing__section--tail">
      <m-marketing__otherFeaturesSection
        *ngIf="data?.other"
        [title]="data.other?.title ?? null"
        [column1Title]="data.other?.column1Title"
        [column1Body]="data.other?.column1Body"
        [column2Title]="data.other?.column2Title"
        [column2Body]="data.other?.column2Body"
        [column3Title]="data.other?.column3Title"
        [column3Body]="data.other?.column3Body"
      ></m-marketing__otherFeaturesSection>

      <div
        *ngIf="data?.footer?.actionButton"
        class="m-grid m-marketing__wrapper"
      >
        <div
          class="
            m-grid__column-12 m-grid__column-12--mobile
            m-marketing__body m-marketing__body--extra
          "
        >
          <a
            *ngIf="
              data.footer.actionButton.navigationUrl;
              else predefinedActionTemplate
            "
            [href]="data.footer.actionButton.navigationUrl"
            [attr.data-ref]="data.footer.actionButton.dataRef ?? null"
            target="_blank"
          >
            <m-button color="blue">{{
              data.footer.actionButton.text
            }}</m-button>
          </a>
          <ng-template #predefinedActionTemplate>
            <m-button
              color="blue"
              (onAction)="resolveAction(data.footer.actionButton.action ?? null)"
              [attr.data-ref]="data.footer.actionButton.dataRef ?? null"
            >
              {{ data.footer.actionButton.text }}
            </m-button>
          </ng-template>
        </div>
      </div>
    </div>
  </ng-container>
</m-marketing>
