<div class="m-pageLayout__container">
  <div
    class="m-pageLayout__pane--main"
    m-pageLayout__pane="main"
    style="position: relative;"
  >
    <m-discovery__plusUpgrade *ngIf="isPlusPage"></m-discovery__plusUpgrade>
    <router-outlet></router-outlet>
    <ng-content></ng-content>

    <!-- We place an additional disclaimer here for popover -->
    <m-discovery__disclaimer
      class="m-discovery__disclaimer--popover"
      *mExperiment="'discovery-homepage'; variation: false"
    ></m-discovery__disclaimer>
  </div>
  <div class="m-discovery__sidebar" m-pageLayout__pane="right">
    <div class="m-pageLayoutPane__inner">
      <div class="m-pageLayoutPane__sticky" m-stickySidebar>
        <!-- SIDEBAR ------------------------------------->
        <m-discovery__disclaimer
          *ngIf="!session.isLoggedIn()"
        ></m-discovery__disclaimer>

        <m-language__sidebarPrompt></m-language__sidebarPrompt>

        <m-discovery__sidebarTags></m-discovery__sidebarTags>

        <m-liquiditySpot></m-liquiditySpot>

        <div class="m-spacer"></div>

        <m-ads-boost
          limit="8"
          *ngIf="
            !(
              session.getLoggedInUser().plus &&
              session.getLoggedInUser().disabled_boost
            )
          "
        ></m-ads-boost>

        <div class="m-spacer"></div>

        <!------------------------------------------------>
      </div>
    </div>
  </div>
</div>
