@import 'defaults';

.minds-avatar {
  position: relative;
  max-width: 200px;
  margin: 8px;
  overflow: hidden;
  box-sizing: border-box;
  border-radius: 3px;
  @include m-theme() {
    background-color: themed($m-bgColor--primary);
  }

  img {
    max-height: 220px;
    max-width: 100%;
    border-radius: 50%;
    flex-basis: 100%;
  }
  .overlay {
    text-align: center;
    cursor: pointer;
    width: 100%;
    height: 100%;
    position: absolute;
    box-sizing: border-box;

    padding: 38px 8px;
    //display:flex;
    //flex-flow:row nowrap;
    //align-items: center;
    @include m-theme() {
      color: themed($m-white);
      background-color: themed($m-overlay);
    }

    i {
      font-size: 30px;
      padding-right: 8px;
    }
    span {
      font-weight: 400;
      display: block;
      text-transform: uppercase;
      letter-spacing: 4px;
      font-size: 14px;
      font-family: 'Inter', Helvetica;
    }
  }
  input[type='file'] {
    opacity: 0;
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    cursor: pointer;
  }
}

.minds-dropdown-menu {
  padding: 0;
  width: 150px;
  border-radius: 4px;
  position: absolute;
  z-index: 1;
  top: 8px;
  right: 8px;
  overflow: visible;
  display: block;
  @include m-theme() {
    background-color: themed($m-bgColor--primary);
  }

  .mdl-menu__item {
    opacity: 1;
    text-overflow: ellipsis;
    line-height: 32px;
    height: 32px;
    @include m-theme() {
      border-bottom: 1px solid themed($m-borderColor--primary);
    }
    padding: 0 8px;
  }
}

.m-video-banner {
  position: relative;
  width: 100%;
  overflow-x: hidden;

  .video {
    height: 100%;
    width: 100%;
    background-size: cover;
    @include m-theme() {
      background: none no-repeat left center themed($m-black-always);
    }

    video {
      min-height: 100%;
      min-width: 100%;
      position: absolute;
      bottom: 0;
    }
    /*  @media (min-width: 1600px){
      video{
        height: auto;
        width: 100%;
      }
    }
    @media (max-height: 800px){
      height:auto;
      width:100%;
    }*/
  }

  .overlay {
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    position: absolute;
    display: -webkit-flex;
    display: flex;
    align-items: center;
    -webkit-align-items: center;
    flex-direction: column;
    -webkit-flex-direction: column;
    @include m-theme() {
      color: themed($m-white);
      background: linear-gradient(
        rgba(themed($m-black-always), 0.3),
        rgba(themed($m-black-always), 0.4),
        rgba(themed($m-black-always), 0)
      );
    }

    &.overlay--0-6 {
      @include m-theme() {
        background-color: themed($m-overlay);
      }
    }
  }
}

/**
 * Carousel
 */
m-channel--carousel {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 360px;
  overflow: hidden;
  //z-index:-1;
  @include m-theme() {
    background-color: themed($m-grey-400);
  }

  minds-banner {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;

    &.is-hidden .minds-banner {
      opacity: 0;
    }

    &.is-hidden.edit-mode {
      display: none;
    }

    .overlay {
      //  opacity:0;
    }

    .minds-banner {
      height: 100%;
      max-height: 100%;
      opacity: 1;
      transition: opacity 0.25s ease-in-out;
    }

    .save-bar {
      display: none !important;
    }
  }

  .delete-button > button,
  .add-button {
    &.mdl-button {
      &:hover {
        @include m-theme() {
          background-color: themed($m-grey-700);
        }
        cursor: pointer;
      }
      &:active {
        @include m-theme() {
          background-color: themed($m-grey-600);
        }
      }
    }
  }

  .delete-button {
    position: absolute;
    top: 8px;
    right: 8px;
    // z-index: 998;

    button {
      font-size: 23px;
    }
  }

  .add-button {
    display: block !important;
    position: absolute;
    top: 8px;
    right: 80px;
    // z-index: 998;
    i {
      margin-top: 2px;
    }
  }

  > i {
    top: 50%;
    // z-index: 999;
    position: absolute;
    font-size: 60px !important;
    cursor: pointer;
    @include m-theme() {
      color: themed($m-white);
      text-shadow: 0 0 3px themed($m-grey-400);
    }

    &.right {
      right: 0;
    }
  }

  .placeholder {
    opacity: 1;
    @include m-theme() {
      background-color: themed($m-blue);
    }
  }
}

.minds-card-navigation,
.minds-settings-nav {
  list-style: none;
  min-height: 0;
  width: auto;
  padding: 0;
  margin: 0;

  li {
    text-align: left;
    padding: 0;
    margin: 0;
    cursor: pointer;
    font-size: 14px;
    width: auto;
    @include m-theme() {
      border-bottom: 1px solid rgba(themed($m-black), 0.12);
    }

    :hover {
      text-decoration: none;
      @include m-theme() {
        background-color: themed($m-grey-50);
      }
    }

    a {
      display: flex;
      padding: $minds-padding * 2;
      text-decoration: none;

      i {
        margin-right: $minds-margin;
      }
    }
  }
}

.m-actions-block {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;

  > * {
    margin-right: $minds-margin;

    i {
      vertical-align: middle;
    }
  }
}
.m-additional-block {
  display: flex;
  font-size: 12px;

  > * {
    margin-right: $minds-margin;
    display: flex;
    align-items: center;

    a {
      cursor: pointer;
    }

    i {
      padding: $minds-padding;
      vertical-align: middle;
    }

    span {
      vertical-align: middle;
      //padding: $minds-padding 0;
    }
  }
}

.m-block {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;

  > .m-avatar {
    img {
      border-radius: 3px;
      min-width: 40px;
    }
  }

  > .m-body {
    flex: 1;
    padding: 0 $minds-padding;

    h3 {
      display: inline-block;
      margin: 0;
      font-size: 14px;
      line-height: 16px;
      font-weight: bold;
    }
    p {
      margin: 0;
      font-size: 11px;
    }
  }
}

.m-error-splash {
  text-align: center;
  text-transform: uppercase;
  padding-top: 12px;
  img {
    width: 236px;
    margin-top: 36px;
    margin-bottom: 36px;
  }
  h3 {
    margin: auto;
    font-weight: 600;
    font-size: 19px;
  }
  span {
  }
}

minds-graph-line {
  display: block;
  margin-bottom: 16px;
}

.graph-labels {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;

  > .graph-label {
    flex: 1;
    text-align: center;
    font-weight: light;

    b {
      display: block;
      font-size: 9px;
      text-transform: uppercase;
    }
  }
}

.m-bubble-popup {
  position: fixed;
  user-select: none;
}

minds-tooltip .m-bubble-popup {
  padding: ($minds-padding * 0.5) $minds-padding;
  margin: $minds-padding 0;
  font-size: 10px;
  @include m-theme() {
    color: themed($m-white);
    background-color: themed($m-grey-950);
  }
}

.m-ribbon {
  list-style: none;
  padding: 0;
  margin: 0;
  white-space: nowrap;
  position: absolute;
  top: 0;
  left: 0;
  // z-index: 99990;
  @include m-theme() {
    background-color: themed($m-bgColor--primary);
  }

  &.m-ribbon-right {
    right: 0;
    left: auto;

    minds-card-comment & {
      margin: ($minds-padding * 0.5) $minds-padding 0 0;
      right: 90px; // 3 buttons + spacing
    }
  }
}

.m-ribbon--item {
  display: inline-block;
  padding: 0;
  margin: 0;
  padding: 0 ($minds-padding * 0.5);
  cursor: pointer;

  .material-icons {
    font-size: 20px;
    line-height: 1;
  }
}

.m-clickable {
  cursor: pointer;
}

.m-custom-icon {
  display: inline-block;
  width: 1.28571429em;
  height: 1em;
  text-align: center;

  &:before {
    display: inline-block;
    content: '';
    width: 100%;
    height: 100%;
    background: none no-repeat center center transparent;
    background-size: contain;
  }

  &.m-custom-icon-minds {
    height: 1.2em;

    &:before {
      background-image: url('assets/gs-icon.png');
    }
  }
}

.m-wallet-pop {
  display: inline-block;
  position: absolute;
  top: 0.5em;
  left: 36px;
  min-width: 20px;
  line-height: 1;
  padding: 7px 2px;
  white-space: nowrap;
  font-size: 10px;
  border-radius: 2em;
  text-align: center;
  pointer-events: none;
}

svg.m-facebook-icon {
  cursor: pointer;
  margin: auto;
  @include m-theme() {
    fill: themed($m-white);
    background-color: themed($m-facebook) !important;
  }
}

.m--spam-notice {
  display: block;
  text-align: center;
  padding: ($minds-padding * 2);
  font-size: 12px;
  line-height: 1.25;
  font-weight: 400;
  @include m-theme() {
    color: themed($m-black);
    background-color: themed($m-amber-light);
  }

  minds-newsfeed-single & {
    margin: 0 0 ($minds-padding * 0.5) 0;
  }

  m-blog-view & {
    position: absolute;
    top: 0;
    width: 100%;
    left: 0;
    @include z-index(announcement);
  }
}

// Q4 2017 Tab bar

.m-tab-bar {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  padding: $minds-padding * 2;
  @include m-theme() {
    color: themed($m-grey-800);
  }

  .m-tab-bar--tab {
    position: relative;
    color: inherit;
    font-size: 13px;
    font-weight: 400;
    letter-spacing: -0.001em;
    text-transform: uppercase;
    text-decoration: none;
    cursor: pointer;
    user-select: none;
  }

  .m-tab-bar--more {
    margin-left: 5%;
    @include m-theme() {
      color: rgba(themed($m-grey-800), 0.58);
    }
  }

  .m-tab-bar--active-tab {
    @include m-theme() {
      color: themed($m-link-text);
    }
  }
}

.m-crypto-token-icon {
  // TODO: Create an SVG version of the icon
  position: relative;
  display: inline-block;
  width: 24px;
  min-height: 1em;

  &:after {
    content: 'M';

    font-family: 'Inter', sans-serif;
    font-weight: 700;
    text-decoration: line-through;
    font-style: normal;
    font-size: 1.35em;
    line-height: 1;
    letter-spacing: normal;
    display: inline-block;
    white-space: nowrap;
    word-wrap: normal;
    direction: ltr;
    -webkit-font-feature-settings: 'liga';
    -webkit-font-smoothing: antialiased;

    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  &.m-crypto-token-icon-light {
    width: 1em;
    font-size: 24px;

    &:after {
      font-weight: 400;
    }
  }
}

.m-invisible {
  visibility: hidden;
}

m-text-input--autocomplete-menu {
  ul.dropdown-menu {
    position: absolute;
    top: 100%;
    left: 0;
    // z-index: 1000;
    float: left;
    min-width: 160px;
    padding: 5px 0;
    margin: 2px 0 0;
    font-size: 14px;
    text-align: left;
    list-style: none;
    background-clip: padding-box;
    border-radius: 4px;

    @include m-theme() {
      background-color: themed($m-bgColor--primary);
      border: 1px solid rgba(themed($m-black), 0.15);
    }

    li {
      a {
        display: block;
        padding: $minds-padding * 0.5 $minds-padding;
        clear: both;
        font-weight: 400;
        line-height: 1.42857143;
        white-space: nowrap;
        text-decoration: none;
        @include m-theme() {
          color: themed($m-textColor--primary);
        }
      }
      a:hover {
        @include m-theme() {
          color: themed($m-textColor--primary);
          background-color: themed($m-bgColor--secondary);
        }
      }

      &.active {
        a,
        a:hover {
          outline: 0;
          @include m-theme() {
            color: themed($m-white);
            background-color: themed($m-blue);
          }
        }
      }
    }
  }
}
