<ng-container *ngIf="shouldUseVideoJSPlayer(); else v1Player">
  <m-videoPlayerV2
    #player
    [guid]="guid"
    [shouldPlayInModal]="shouldPlayInModal"
    [isModal]="isModal"
    [autoplay]="isModal"
    (mediaModalRequested)="openModal($event)"
  ></m-videoPlayerV2>
</ng-container>
<ng-template #v1Player>
  <m-videoPlayer
    #player
    [guid]="guid"
    [shouldPlayInModal]="shouldPlayInModal"
    [isModal]="isModal"
    (mediaModalRequested)="openModal($event)"
  ></m-videoPlayer>
</ng-template>

<div
  class="m-videoPlayer--scrollaware__overlay"
  style="
    position: absolute;
    top:0;
    left: 0;
    width: 100%;
    height: 100%;
    cursor: pointer;
    pointer-events: none;
  "
  (click)="onOverlayClick($event)"
></div>
<ng-content></ng-content>
