@import 'defaults.scss';

:host {
  .m-boostConsole__filterBar {
    display: flex;
    flex-direction: column;

    @media screen and (max-width: $max-mobile) {
      flex-direction: row;
      justify-content: space-between;
    }

    @include m-theme() {
      border-bottom: 1px solid themed($m-borderColor--primary);
    }
  }

  .m-tabs__container {
    padding: 0 $spacing4;

    @media screen and (max-width: $max-mobile) {
      border-bottom: none !important;
    }

    .m-tabs__tab > a {
      @media screen and (max-width: $max-mobile) {
        margin-right: $spacing4;
      }
    }
  }

  [class*='m-boostConsole__boostLatestPostWrapper'] {
    &.m-boostConsole__boostLatestPostWrapper--mobile {
      display: none;
    }

    @media screen and (max-width: $max-mobile) {
      &.m-boostConsole__boostLatestPostWrapper--desktop {
        display: none;
      }
      &.m-boostConsole__boostLatestPostWrapper--mobile {
        display: block;
      }
    }

    > * {
      display: block;
      @include m-theme() {
        border-bottom: 1px solid themed($m-borderColor--primary);
      }

      ::ng-deep .m-feedNotice__title {
        @include body1Bold;
      }
    }
  }

  .m-boostConsole__filtersWrapper {
    padding: $spacing4;
    display: flex;
    flex-flow: row nowrap;
    max-width: 100%;

    @media screen and (max-width: $max-mobile) {
      padding-top: 0px;
      padding-bottom: $spacing1;
    }
    ::ng-deep m-dropdownMenu {
      margin-right: $spacing5;
      @media screen and (max-width: $max-mobile) {
        margin-right: 0;
      }
    }

    .m-boostConsole__filterTrigger {
      @media screen and (max-width: $max-mobile) {
        display: flex;
      }
    }

    .m-boostConsole__filterTitleLabel {
      margin-right: $spacing2;

      @include m-theme() {
        color: themed($m-textColor--secondary);
      }

      @media screen and (max-width: $max-mobile) {
        display: none;
      }
    }

    .m-boostConsole__filterLabel {
      margin-right: $spacing2;
      @media screen and (max-width: $max-mobile) {
        margin-right: 0;
      }
    }

    .m-boostConsole__filterCaret {
      @media screen and (max-width: $max-mobile) {
        display: none;
      }
    }

    .m-boostConsole__filterIcon {
      margin-right: $spacing2;
      font-size: 20px;
      @include m-theme() {
        color: themed($m-textColor--secondary);
      }

      @media screen and (min-width: $max-mobile + 1) {
        display: none;
      }
    }
  }
  ::ng-deep .m-boostConsole__settingsButtonIcon {
    @include heading3Regular;
    @media screen and (max-width: $max-mobile) {
      display: none;
    }
  }
}
