$sidebarSpacing: 20px;
m-sidebarWidget {
  display: block;
}

.m-sidebarWidget {
  position: relative;
  box-sizing: border-box;
  padding: 0;
  padding-bottom: $sidebarSpacing;
  border-radius: 2px;

  @include m-theme() {
    background-color: themed($m-bgColor--primary);
    border: 1px solid themed($m-borderColor--primary);
  }
}

.m-sidebarWidget__title {
  line-height: 24px;
  padding: $sidebarSpacing;
  padding-bottom: $sidebarSpacing * 0.5;
  padding-right: 40px; // Allow for dimiss
  margin: 0;

  @include body1Medium;
  @include m-theme() {
    color: themed($m-textColor--primary);
  }
}

.m-sidebarWidget__dismiss {
  position: absolute;
  top: 20px;
  right: 20px;

  > i {
    font-size: 18px;
    cursor: pointer;
    @include m-theme() {
      color: themed($m-textColor--tertiary);
    }
  }
}

.m-sidebarWidget__body {
  padding: 0 $sidebarSpacing;
  &.m-sidebarWidget__body--noPadding {
    padding: 0;
  }
}

.m-sidebarWidget__seeMore {
  padding: 0 $sidebarSpacing;
  text-align: right;
  width: 100%;
  display: block;
  box-sizing: border-box;
  cursor: pointer;

  @include m-theme() {
    color: themed($m-textColor--tertiary);
  }
}
