<ng-container [m-clientMeta]="{ medium: 'boost-rotator' }">
  <div
    *ngIf="!disabled"
    #rotatorEl
    class="m-newsfeed__boostRotator"
    [style.min-height]="height"
    [style.max-height]="height"
    [hidden]="!boosts.length"
  >
    <!-- ACTIVITY V2 BOOST ROTATOR TOP ROW  -->
    <div *ngIf="init" class="m-boostRotator__toolbar">
      <m-boostedFlag></m-boostedFlag>
      <div class="m-boostRotatorToolbar__buttons">
        <i class="material-icons" (click)="prev()">chevron_left</i>
        <i class="material-icons" (click)="next()">chevron_right</i>
        <m-tooltip
          icon="settings"
          anchor="top"
          [showArrow]="true"
          [arrowOffset]="-10"
          [iconStyle]="tooltipIconStyle"
          [tooltipBubbleStyle]="tooltipBubbleStyle"
          (click)="onSettingsClick()"
          i18n="@@BOOST_ROTATOR__CONTROL_BOOSTED_CONTENT"
          data-ref="boost-rotator-settings-button"
        >
          Control the boosted content you see
        </m-tooltip>
      </div>
    </div>
    <!-- ----------------------------------- -->

    <ng-container
      *ngFor="let entity of boosts; let i = index; trackBy: trackByFn"
    >
      <div
        class="m-newsfeedBoostRotator__item"
        *ngIf="shouldRender(i)"
        [style.visibility]="i === currentPosition ? 'visible' : 'hidden'"
        [style.height.px]="height"
      >
        <m-activity
          [entity]="entity"
          [displayOptions]="{
            boostRotatorMode: true,
            showOnlyCommentsInput: false,
            showComments: false,
            fixedHeight: true,
            fixedHeightContainer: true,
            isFeed: true
          }"
          [attr.data-minds-activity-guid]="entity.guid"
          [slot]="i + 1"
          [canRecordAnalytics]="false"
          (nextBoost)="next()"
          (previousBoost)="prev()"
        >
        </m-activity>
      </div>
    </ng-container>
  </div>
</ng-container>
