<div class="m-modalV2__inner">
  <div class="m-modalV2__mobileTopBar">
    <h4 class="m-connectTwitterModal__mobileTopBar">
      Supermind
    </h4>
    <span
      class="m-modalV2MobileTopBar__button"
      i18n="@@SUPERMIND_REPLY_CONFIRM__CONFIRM_BUTTON"
      (click)="onConfirm()"
      >Confirm</span
    >
  </div>

  <div class="m-modalV2__header">
    <h4
      class="m-supermindReplyConfirmationModal__title"
      data-ref="data-minds-supermind-reply-confirmation-modal-title"
      i18n="@@SUPERMIND_REPLY_CONFIRM__CONFIRM_REPLY"
    >
      Confirm reply
    </h4>
  </div>
  <div class="m-modalV2__body">
    <div class="m-supermindReplyConfirmationModal__textWrapper">
      <p
        class="m-supermindReplyConfirmationModal__text"
        data-ref="data-minds-supermind-reply-confirmation-modal-body"
        i18n="@@SUPERMIND_REPLY_CONFIRM__ARE_YOU_SURE"
      >
        Are you sure you want to post this reply? Once posted your reply cannot
        be deleted.
      </p>
      <m-formInput__checkbox
        [disabled]="isTwitterReplyEnabled && isTwitterReplyRequired"
        [formControl]="twitterReplyCheckbox"
        *ngIf="isTwitterReplyEnabled && !(configRequestInProgress$ | async)"
      >
        Post to my Twitter
        <br />
        <span class="m-supermindReplyConfirmationModal__checkboxSubtitle">
          <ng-container
            *ngIf="isTwitterReplyRequired; else twitterNotRequiredText"
            i18n="@@SUPERMIND_REPLY_CONFIRM__TWITTER_REQUIRED"
          >
            This Supermind offer requires posting the reply to Twitter
          </ng-container>
          <ng-template
            #twitterNotRequiredText
            i18n="@@SUPERMIND_REPLY_CONFIRM__SHARE_TO_TWITTER"
          >
            Posting Supermind replies on Twitter helps you get more Supermind
            offers from your social audiences.
          </ng-template>
        </span>
      </m-formInput__checkbox>
    </div>
    <div
      class="m-supermindReplyConfirmationModal__twitterPreviewWrapper"
      *ngIf="isTwitterReplyRequired"
    >
      <p i18n="@@SUPERMIND_REPLY_CONFIRM__EXAMPLE_PREVIEW">
        Example of a Twitter preview
      </p>
      <img src="/assets/twitter-supermind-placeholder.png" />
    </div>
  </div>
  <div
    class="m-modalV2__footer m-supermindReplyConfirmationModal__buttonWrapper"
    [ngClass]="{
      'm-supermindReplyConfirmationModal__buttonWrapper--noMargin': !isTwitterReplyEnabled
    }"
  >
    <m-button
      class="m-supermindReplyConfirmationModal__cancelButton"
      (onAction)="onDismiss()"
      data-ref="data-minds-supermind-reply-confirmation-modal-cancel-button"
      i18n="@@SUPERMIND_REPLY_CONFIRM__CANCEL_BUTTON"
    >
      Cancel
    </m-button>
    <m-button
      class="m-supermindReplyConfirmationModal__confirmButton"
      color="blue"
      solid="true"
      (onAction)="onConfirm()"
      data-ref="data-minds-supermind-reply-confirmation-modal-confirm-button"
      i18n="@@SUPERMIND_REPLY_CONFIRM__CONFIRM_BUTTON"
    >
      Confirm
    </m-button>
  </div>
</div>

<m-modalCloseButton></m-modalCloseButton>
