@import 'defaults.scss';

:host {
  &.m-group-profile-feed__sorted--v2 {
    .m-mindsList__tools {
      margin-top: $spacing3;
      margin-bottom: $spacing3;
      padding-left: $spacing5;

      ::ng-deep .m-group--sorted__SortSelector {
        margin: 0;
      }

      @media screen and (max-width: $max-mobile) {
        margin-top: $spacing1;
        margin-bottom: $spacing1;
        padding-bottom: 0;
      }
    }
    .m-groupSorted__searchDisplay {
      padding: $spacing3 $spacing5;
    }
  }
  .m-mindsList__tools {
    padding: $spacing3;
    border-radius: 0;
    margin-bottom: 0;
    @include m-theme() {
      border: none;
    }

    ::ng-deep m-tooltip {
      i {
        font-size: 18px;
        margin-left: $spacing2;
      }
    }
  }
  .m-mindsListTools__scheduled {
    display: flex;
    align-items: center;

    span {
      font-size: 15px;
      display: inline-block;
      margin-left: 8px;
    }
  }

  .m-groupSorted__searchDisplay {
    padding: 5px 0 20px 0;

    span {
      @include m-theme() {
        color: themed($m-textColor--secondary);
      }
      &.m-groupSortedSearch__query {
        @include m-theme() {
          color: themed($m-textColor--primary);
        }
      }
    }
    a {
      cursor: pointer;
      font-weight: 400;
      text-decoration: underline;
      @include m-theme() {
        color: themed($m-textColor--primary);
      }
    }
  }

  .m-groupSorted__reviewQueue {
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    padding: $spacing4 0;

    @include unselectable;
    @include m-theme() {
      background: themed($m-bgColor--secondary);
      color: themed($m-textColor--primary);
      border-top: 1px solid themed($m-borderColor--primary);
      border-bottom: 1px solid themed($m-borderColor--primary);

      // hover
      &:hover {
        background: darken(themed($m-bgColor--secondary), 2%);
        color: darken(themed($m-textColor--primary), 2%);
      }

      // mousedown
      &:active:hover {
        background: darken(themed($m-bgColor--secondary), 6%);
        color: darken(themed($m-textColor--primary), 6%);
      }
    }
  }

  ::ng-deep m-composer {
    margin-bottom: 0;
    margin-top: $spacing4;
    border: none !important;
    border-radius: 0;
    .m-composer__trigger {
      @include m-theme() {
        border-bottom: 4px solid themed($m-borderColor--primary);
        border-top: 1px solid themed($m-borderColor--primary);
      }
    }
  }
}
