<ng-container *ngIf="v2">
  <div class="m-mindsList__tools m-border">
    <ng-container *ngTemplateOutlet="sortSelector"></ng-container>
  </div>
</ng-container>
<m-composer *ngIf="isMember()" [container]="group" #composer></m-composer>

<div class="minds-list">
  <div>
    <div *ngIf="!v2" class="m-mindsList__tools m-border">
      <div
        *ngIf="isMember()"
        class="m-mindsListTools__scheduled"
        (click)="toggleScheduled()"
        [class.selected]="viewScheduled"
      >
        <m-tooltip icon="date_range"> See Scheduled Activities </m-tooltip>
        <span class="m-legible">Scheduled: {{ scheduledCount }}</span>
      </div>
      <ng-container *ngTemplateOutlet="sortSelector"></ng-container>
    </div>
    <!-- ----------------------------------------- -->
    <!-- SEARCH QUERY DISPLAY -->
    <!-- ----------------------------------------- -->
    <div
      class="m-groupSorted__searchDisplay"
      *ngIf="groupsSearch.query$ | async"
    >
      <span i18n="@@M__GROUP_SORTED__SEARCH_RESULTS_FOR"
        >Search results for:
      </span>
      <span class="m-groupSortedSearch__query"
        >"{{ groupsSearch.query$ | async }}" ·
      </span>
      <a i18n="@@M__GROUP_FEED__CLEAR" (click)="groupsSearch.query$.next('')"
        >Clear</a
      >
    </div>
    <!-- ----------------------------------------- -->
    <ng-container
      *ngIf="
        isActivityFeed() &&
        (group['is:owner'] || group['is:moderator']) &&
        group['adminqueue:count']
      "
    >
      <a
        class="m-groupSorted__reviewQueue"
        (click)="onReviewNoticeClick($event)"
        routerLink="review"
        draggable="false"
      >
        {{ group['adminqueue:count'] }} new
        {{ group['adminqueue:count'] === 1 ? 'post' : 'posts' }} in the review
        queue
      </a>
    </ng-container>

    <ng-container *ngFor="let entity$ of feed$ | async; let i = index">
      <m-activity
        *ngIf="entity$ | async as entity"
        [displayOptions]="{
          showOnlyCommentsInput: true,
          isFeed: true,
          inSingleGroupFeed: true
        }"
        [entity]="patchEntity(entity)"
        [slot]="i + 1"
        [canDelete]="group['is:owner'] || group['is:moderator']"
        (deleted)="delete($event)"
      ></m-activity>
      <!-- ----------------------------------------- -->
      <!-- BOOSTS  -->
      <!-- ----------------------------------------- -->
      <m-featured-content
        *ngIf="shouldShowBoostInPosition(i)"
        [slot]="i + 1"
        [displayOptions]="{
          showOnlyCommentsInput: true,
          isFeed: true
        }"
        showHeader="true"
        [servedByGuid]="group.guid"
      ></m-featured-content>
    </ng-container>
    <infinite-scroll
      (load)="loadMore()"
      [moreData]="feedsService.hasMore | async"
      [inProgress]="feedsService.inProgress | async"
    ></infinite-scroll>
  </div>
</div>

<m-groups__kick-modal
  *ngIf="kicking"
  [user]="kicking"
  [group]="group"
  (closed)="kick()"
></m-groups__kick-modal>

<ng-template #sortSelector>
  <m-sort-selector
    class="m-group--sorted__SortSelector"
    [allowedAlgorithms]="false"
    [allowedPeriods]="false"
    [allowedCustomTypes]="['activities', 'images', 'videos']"
    [customType]="type"
    [v2]="v2"
    (onChange)="setFilter($event.customType)"
  ></m-sort-selector>
</ng-template>
