<div class="m-onboarding__controls">
  <div
    class="m-onboarding__control m-onboardingControl__location"
    style="padding-top: 0;"
  >
    <div class="m-onboardingControl__label">
      <label
        data-ref="m-onboarding__input--location"
        i18n="@@ONBOARDING_INFO__LOCATION"
        >Location</label
      >

      <m-tooltip [anchor]="tooltipAnchor">
        <span m-tooltip--anchor>𝒊</span>
        <ng-container i18n="@@ONBOARDING_INFO__PLEASE_ENTER_CITY">
          Please enter your city to help us connect you with channels in your
          area. We do not track your exact location.
        </ng-container>
      </m-tooltip>

      <span i18n="@@ONBOARDING_INFO__OPTIONAL">Optional</span>
    </div>

    <div class="m-onboarding__input m-onboarding__location">
      <input
        type="text"
        data-ref="m-onboarding__input--location"
        [ngModel]="location"
        (ngModelChange)="locationChange($event)"
        (keyup)="findCity(location)"
        [disabled]="dobDisabled"
      />
      <div
        class="m-onboarding__error"
        [style.visibility]="locationError ? 'visible' : 'hidden'"
      >
        {{ locationError }}
      </div>

      <ul class="m-onboarding__cities" *ngIf="cities.length > 0">
        <li
          (click)="setCity(c)"
          *ngFor="let c of cities"
          [hidden]="!(c.address.town || c.address.city)"
        >
          {{ c.address.town }}{{ c.address.city }}, {{ c.address.state }}
        </li>
      </ul>
    </div>
  </div>

  <div class="m-onboarding__control m-onboardingControl__dateOfBirth">
    <div class="m-onboardingControl__label">
      <label data-ref="dateOfBirth" i18n="@@COMMON__DATE_OF_BIRTH"
        >Date of Birth</label
      >
      <span i18n="@@COMMON__OPTIONAL">Optional</span>

      <m-tooltip [anchor]="tooltipAnchor">
        <span m-tooltip--anchor>𝒊</span>
        <ng-container i18n="@@ONBOARDING_INFO__PLEASE_ENTER_DOB">
          Please enter your birth date to confirm your age and help us improve
          our recommendations.
        </ng-container>
      </m-tooltip>
    </div>

    <m-date__dropdowns
      (selectedDateChange)="selectedDateChange($event)"
      [disabled]="dobDisabled"
      #dateDropdowns
    ></m-date__dropdowns>
    <div
      class="m-onboarding__error"
      [style.visibility]="!!ageError ? 'visible' : 'hidden'"
      i18n="@@ONBOARDING_INFO__YOU_MUST_BE_ATLEAST_13"
    >
      You must be at least 13 years old
    </div>
  </div>

  <div class="m-onboarding__actionButtons">
    <m-button (onAction)="skip()" i18n="@@COMMON__SKIP">
      Skip
    </m-button>
    <m-button
      color="blue"
      [disabled]="!canContinue()"
      (onAction)="continue()"
      i18n="@@COMMON__CONTINUE"
    >
      Continue
    </m-button>
  </div>
</div>
