m-dashboardLayout {
  display: block;
  width: 100%;
  max-width: 100%;
}
.m-dashboardLayout__header {
  h3 {
    font-size: 26px;
    font-weight: 500;
    margin-top: 0;
    margin-right: 24px;
  }
}
.m-dashboardLayout__body {
  position: relative;
  display: block;
  width: 100%;
  padding-top: 10px;
  a {
    font-weight: 400;
    text-decoration: none;
    @include m-theme() {
      color: themed($m-link-text);
    }
  }
}

@media screen and (max-width: $min-tablet) {
  m-dashboardLayout {
    display: block;
    padding: 0;
    max-width: none;
    width: 100%;
  }
  .m-dashboardLayout__header {
    padding-left: 24px;
  }
}
