m-dataTabsHeader {
  min-height: 116px;
  display: block;
  a {
    font-weight: 400;
    text-decoration: none;
    @include m-theme() {
      color: themed($m-link-text);
    }
  }
}
.m-dataTabsHeader__section {
  position: relative;
}
.m-dataTabsHeader__wrapper {
  position: relative;
  z-index: 1;
  height: 124px;
  @include m-theme() {
    box-shadow: 0 7px 15px -7px rgba(themed($m-black-always), 0.1);
  }
}
m-body.has-v3-navbar {
  .m-dataTabsHeader__wrapper {
    @include m-theme() {
      box-shadow: none;
    }
  }
}
.m-dataTabsHeader__container {
  overflow-x: hidden;
  overflow-y: hidden;
  transition: all 0.5s cubic-bezier(0.23, 1, 0.32, 1);

  &.disable-scrollbars {
    scrollbar-width: none; /* Firefox */
    -ms-overflow-style: none; /* IE 10+ */
    &::-webkit-scrollbar {
      width: 0px;
      background: transparent; /* Chrome/Safari/Webkit */
    }
  }

  .m-tooltip--bubble {
    top: 50px;
    width: 100px;
    margin-left: 4px;
  }
}
[class*='m-dataTabsHeader__overflowFade--'] {
  position: absolute;
  top: 0;
  bottom: 0;
  width: 0px;
  z-index: 2;
  opacity: 0;
  transition: opacity 0.2s ease, width 0.4s ease;

  &.m-dataTabsHeader__overflowFade--right {
    @include m-theme() {
      right: 0;
      background: linear-gradient(
        to right,
        rgba(themed($m-bgColor--primary), 0) 0,
        themed($m-bgColor--primary) 50%
      );
    }
  }
  &.m-dataTabsHeader__overflowFade--left {
    @include m-theme() {
      left: 0;
      background: linear-gradient(
        to left,
        rgba(themed($m-bgColor--primary), 0) 0,
        themed($m-bgColor--primary) 50%
      );
    }
    &.visible {
      width: 36px;
    }
  }
  &.visible {
    opacity: 1;
    width: 24px;
    cursor: pointer;
  }
}

[class*='m-dataTabsHeader__overflowScrollButton--'] {
  position: absolute;
  top: 50%;
  border-radius: 50%;
  box-sizing: border-box;
  z-index: 2;
  transform: translateY(-50%);
  opacity: 0;
  transition: all 0.3s cubic-bezier(0.23, 1, 0.32, 1);
  cursor: pointer;
  &.showButton {
    opacity: 1;
  }
  @include m-theme() {
    background-color: themed($m-bgColor--primary);
    box-shadow: 0px 0px 10px -3px rgba(themed($m-black), 0.3);
    border: 1px solid themed($m-bgColor--primary);
  }
  &:hover {
    @include m-theme() {
      border: 1px solid themed($m-blue);
    }
  }
  &.m-dataTabsHeader__overflowScrollButton--right {
    right: -12;
  }
  &.m-dataTabsHeader__overflowScrollButton--left {
    left: 12;
  }
  i {
    @include m-theme() {
      color: themed($m-textColor--secondary);
    }
  }
}
.m-dataTabsLayout__header.hasTitle {
  padding: 34px 28px 34px 70px;
}
.m-dataTabsHeader__title {
  margin: 0 0 2px 0;
  line-height: 32px;
  font-weight: 500;
  @include m-theme() {
    color: themed($m-textColor--primary);
    font-size: 24px;
  }
}
.m-dataTabsHeader__subtitle {
  line-height: 22px;
  margin: 0;
  @include m-theme() {
    color: themed($m-textColor--tertiary);
    font-size: 15px;
  }
}

@media screen and (max-width: $min-tablet) {
  .m-dataTabsLayout__header.hasTitle {
    padding: 0 24px;
  }
  .m-dataTabsHeader__section {
    [class*='m-dataTabsHeader__overflowScrollButton--'] {
      display: none;
    }
    .m-dataTabsHeader__container {
      overflow-x: scroll;
      scroll-snap-type: x mandatory;
      .m-dataTab {
        scroll-snap-align: start;
        &:first-child {
          margin-left: 16px;
        }
        &:last-child {
          margin-right: 16px;
        }
      }
    }
  }
}
