<div class="m-supermind__banner" *ngIf="entity">
  <p class="m-supermindBanner__text" *ngIf="displayName">
    <span>Get replies from creators like </span>
    <span class="m-supermindBannerText__bold">{{
      displayName | truncate: 20
    }}</span>
  </p>
  <m-supermind__button
    [entity]="entity"
    [iconOnly]="false"
    size="xsmall"
    data-ref="activity-supermind-banner-action-button"
    class="m-supermindBanner__button"
  ></m-supermind__button>
</div>
