@import 'defaults.scss';
@import '../../../../common/layout/layout.scss';

:host {
  .m-supermind__banner {
    display: flex;
    align-items: center;
    padding: $spacing4 $spacing6;
    border-radius: $m-borderRadius;

    @include m-theme() {
      background-color: themed($m-borderColor--primary);
    }

    .m-supermindBanner__text {
      margin-bottom: 0;
      height: $spacing5;
      padding-right: $spacing3;
      flex-grow: 2;

      span {
        @include body2Regular;
        &.m-supermindBannerText__bold {
          @include body2Bold;
        }
      }
    }

    // ***********************************
    // ** MOBILE
    // ***********************************

    @media screen and (max-width: $layoutMax2ColFixedWidth) {
      flex-direction: column;
      align-items: initial;
      .m-supermindBanner__text {
        height: initial;
        padding-right: 0;
        padding-bottom: $spacing4;
        max-width: none;
        text-align: center;
      }
    }
  }

  // ***********************************
  // ** MODAL
  // ***********************************
  m-activity__modal & {
    .m-supermindBanner__text {
      height: auto !important;
    }
  }
}
