@import 'defaults.scss';

$layoutMax2ColWidth: '1040px';

:host {
  .m-newsfeed__single {
    .minds-list {
      padding: 0;
    }

    > div:first-child {
      @media screen and (max-width: $layoutMax2ColWidth) {
        @include borderRight;
      }
    }
  }

  .m-newsfeed__single--legacy {
    max-width: 600px;
    margin: auto;
    padding: 16px;
  }

  .minds-list {
    padding: 20px 40px;
  }

  .m-newsfeedSingle__mobileSuggestions {
    display: none;
  }

  ::ng-deep .m-sidebarWidget__title {
    margin-bottom: $spacing6;
    margin-top: $spacing2;
  }

  // MOBILE
  @media screen and (max-width: $max-mobile) {
    .minds-list {
      padding: 0;
    }

    ::ng-deep m-activity {
      border: none !important;
    }

    .m-newsfeedSingle__mobileSuggestions {
      display: block;

      ::ng-deep {
        .m-sidebarWidget {
          @include m-theme() {
            border: none;
          }
        }
        > * {
          display: block;

          margin-top: $spacing4;
          padding-top: $spacing4;
          padding-bottom: $spacing4;

          @include m-theme() {
            border-top: 8px solid themed($m-borderColor--primary);
          }
        }

        .m-sidebarWidget__title {
          @media screen and (max-width: $max-mobile) {
            padding: $spacing4;
          }
        }
      }
    }
  }
}
