<div class="m-composer__titleBar">
  <div class="m-composerTitleBar__title">
    <label [for]="inputId" i18n="@@COMPOSER__COMPOSE" *ngIf="!(remind$ | async)"
      >Compose</label
    >

    <label
      [for]="inputId"
      i18n="@@M__COMPOSER__QUOTE_POST"
      *ngIf="remind$ | async"
      >Quote post</label
    >
  </div>

  <div
    *ngIf="
      !(isEditing$ | async) &&
      !(hasAttachments$ | async) &&
      !(remind$ | async) &&
      !containerGuid &&
      !(isSupermind$ | async)
    "
    class="m-composerTitleBar__createBlogTrigger"
    [hidden]="isPosting$ | async"
    (click)="onCreateBlogClick()"
  >
    <ng-container i18n="@@COMPOSER__CREATE_BLOG">Create Blog</ng-container>
  </div>

  <m-composerTitleBar__dropdown
    *ngIf="!(isSupermind$ | async)"
  ></m-composerTitleBar__dropdown>

  <m-supermindBadge *ngIf="isSupermind$ | async"></m-supermindBadge>
</div>
