@import 'defaults.scss';
@import '../../../../common/layout/layout.scss';

:host {
  > * {
    @media screen and (max-width: $layoutMax3ColWidth) {
      min-width: unset !important;
    }
  }
  .m-pageLayout__container {
    padding: 0 !important;
    width: 100% !important;
  }
  .m-group__feed {
    min-height: 100vh;

    ::ng-deep m-composer {
      margin-bottom: 0;
      border: none !important;
      border-radius: 0;
      .m-composer__trigger {
        @include m-theme() {
          border-bottom: 4px solid themed($m-borderColor--primary);
        }
      }
    }

    [class*='m-pageLayout__pane'] {
      .m-groupFeed__list,
      .m-groupFeed__toolbar,
      &.m-groupFeed__sidebar {
        padding-left: $spacing8;
        padding-right: $spacing8;

        @media screen and (max-width: $layoutMin3ColWidth) {
          padding-left: $spacing4;
          padding-right: $spacing4;
        }
      }

      .m-groupFeed__list {
        padding: 0 0 $spacing7;

        @media screen and (min-width: $layoutMax2ColFixedWidth) and (max-width: $layoutMin3ColWidth) {
          @include borderRight;
        }
      }
    }
    .m-groupFeed__toolbar {
      padding-top: $spacing5;
      padding-bottom: $spacing5;

      @include m-theme() {
        border-bottom: 1px solid themed($m-borderColor--primary);
      }
    }

    .m-groupFeed__searchDisplay {
      padding: 25px 20px 0 20px;

      @media screen and (min-width: $layoutMin3ColWidth + 1) {
        padding-left: 40px;
        padding-right: 40px;
      }

      span {
        @include m-theme() {
          color: themed($m-textColor--secondary);
        }
        &.m-groupFeedSearch__query {
          @include m-theme() {
            color: themed($m-textColor--primary);
          }
        }
      }
      a {
        cursor: pointer;
        font-weight: 400;
        text-decoration: underline;
        @include m-theme() {
          color: themed($m-textColor--primary);
        }
      }
    }

    .m-groupFeed__list {
      padding-top: 30px;
      padding-bottom: 30px;
      box-sizing: border-box;
      @media screen and (max-width: $layoutMax2ColFixedWidth) {
        min-width: 100%;
      }
    }

    .m-groupFeed__emptyFeedContainer {
      display: flex;
      flex-flow: column nowrap;
      justify-content: center;
      align-items: center;
      margin-top: 60px;
      text-rendering: optimizeLegibility;
      -webkit-font-smoothing: antialiased;

      .m-groupFeed__emptyFeedTitle {
        font-size: 22px;
        font-weight: 600;
        text-align: center;
        line-height: 28px; // translation may force multiline.
        margin-bottom: 20px;

        @include m-theme() {
          color: themed($m-textColor--primary);
        }
      }

      .m-groupFeed__emptyFeedSubtitle {
        font-size: 18px;
        margin-top: 20px;

        @include m-theme() {
          color: themed($m-textColor--secondary);
        }
      }

      .m-groupFeed__firstPostButton {
        margin-top: 30px;
        border-radius: 20px;
        padding: 10px 20px;
        font-size: 18px;
        font-weight: 500;
        border: unset;
        cursor: pointer;

        @include m-theme() {
          color: themed($m-textColor--primary);
          background-color: themed($m-black);
        }

        &.m-groupFeed__firstPostButton--light {
          @include m-theme() {
            color: themed($m-white-always);
            background-color: themed($m-grey-500);

            &:hover {
              background-color: themed($m-grey-700);
            }
          }
        }

        &.m-groupFeed__firstPostButton--dark {
          @include m-theme() {
            color: themed($m-bgColor--secondary);
            background-color: themed($m-white-always);

            &:hover {
              background-color: themed($m-grey-700);
            }
          }
        }
      }

      &.m-groupFeed__emptyFeedContainer--bordered {
        padding: 50px 30px;
        margin: 60px;

        @include m-theme() {
          border: 1px dashed themed($m-borderColor--primary);
        }
      }
    }

    .m-groupFeed__body {
      display: flex;
      flex-direction: column;
    }
    .m-pageLayout__pane--right {
      padding-top: $spacing4;
      min-width: 310px;
    }

    ::ng-deep {
      m-newsfeed__entity {
        display: block;
        margin: 0;

        &:first-child {
          m-activity {
            @include m-theme() {
              border-top: none;
            }
          }
        }
      }

      m-feedFilter {
        .m-groupFeed__filter {
          display: block;
          padding: 0 0 20px;
        }

        .m-groupFeedFilter__scheduled {
          display: flex;
          align-items: center;
          font-size: 15px;
          font-weight: 300;
          line-height: 20px;
          text-decoration: none;

          @include m-theme() {
            color: themed($m-textColor--primary);
          }

          i {
            font-size: 20px;
            margin: 0 8px 0 20px;
            @include m-theme() {
              color: themed($m-textColor--secondary);
            }
          }
        }
      }
    }
  }
  ::ng-deep .m-comments__startConversation {
    display: none !important;
  }
}
