<div *ngIf="service.group$ | async" class="m-group">
  <m-explicit-overlay
    [entity]="service.group$ | async"
    message="This group contains content that is NSFW"
    i18n-message="@@GROUPS__THIS_GROUP_CONTAINS_NSFW"
  ></m-explicit-overlay>

  <m-group__header></m-group__header>

  <div class="m-group__toolbar">
    <div *ngIf="service.guid$ | async" class="m-group__tabs m-tabs__container">
      <div class="m-tabs__tab">
        <a
          [routerLink]="['/', 'group', service.guid$ | async, 'feed']"
          [class.m-tabs__tab--selected]="(service.view$ | async) === 'feed'"
          i18n="@@GROUP__TAB_LABEL__DISCUSSION"
          >Discussion</a
        >
      </div>

      <div class="m-tabs__tab">
        <a
          [routerLink]="['/', 'group', service.guid$ | async, 'members']"
          [class.m-tabs__tab--selected]="(service.view$ | async) === 'members'"
          i18n="@@GROUP__TAB_LABEL__MEMBERS"
          >Members</a
        >
      </div>

      <!-- <div class="m-tabs__tab" *ngIf="service.showRequestsTab$ | async">
        <a
          [routerLink]="['/', 'group', service.guid$ | async, 'requests']"
          [class.m-tabs__tab--selected]="(service.view$ | async) === 'requests'"
          ><ng-container i18n="@@GROUP__TAB_LABEL__REQUESTS"
            >Requests</ng-container
          >({{ service.requestCount$ | async }})</a
        >
      </div>

      <div class="m-tabs__tab" *ngIf="service.showReviewTab$ | async">
        <a
          [routerLink]="['/', 'group', service.guid$ | async, 'review']"
          [class.m-tabs__tab--selected]="(service.view$ | async) === 'review'"
          ><ng-container i18n="@@GROUP__TAB_LABEL__REVIEW">Review</ng-container
          >({{ service.reviewCount$ | async }})</a
        >
      </div> -->
    </div>
    <div
      class="m-group__searchBtnWrapper"
      *ngIf="(service.view$ | async) === 'feed'"
    >
      <a class="m-groupSearchBtn" (click)="openSearchModal($event)"
        ><i class="material-icons">search</i></a
      >
    </div>
  </div>
  <!-- ----------------------------------  -->
  <!-- VIEWS  -->
  <!-- ----------------------------------  -->
  <ng-container [ngSwitch]="service.view$ | async">
    <minds-groups-profile-members
      class="m-group__view--members"
      *ngSwitchCase="'members'"
      v2="true"
      [group]="service.group$ | async"
    ></minds-groups-profile-members>
    <minds-groups-profile-requests
      class="m-group__view--requests"
      *ngSwitchCase="'requests'"
      [group]="service.group$ | async"
    ></minds-groups-profile-requests>
    <m-groups-profile__review
      class="m-group__view--review"
      *ngSwitchCase="'review'"
    ></m-groups-profile__review>
    <m-group__feed
      class="m-group__view--feed"
      [view]="view$ | async"
      *ngSwitchCase="'feed'"
    ></m-group__feed>
  </ng-container>
</div>
