@import 'defaults.scss';

:host {
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-between;
  height: 100%;
  max-height: 100%;

  .m-onboardingV5__stepContentContainer {
    .m-onboardingV5VerifyEmail__codeForm {
      display: flex;
      flex-flow: column nowrap;

      .m-onboardingV5VerifyEmail__inputLabel {
        @include body1Regular;
        @include m-theme() {
          color: themed($m-textColor--secondary);
        }
      }

      .m-onboardingV5VerifyEmail__input {
        border-radius: 3px;
        height: 44px;
        box-sizing: border-box;
        padding: $spacing2 $spacing4;
        margin-top: $spacing1;

        @include m-theme() {
          color: themed($m-textColor--primary);
          background-color: themed($m-bgColor--primary);
          border: 1px solid themed($m-borderColor--primary);
        }

        &:focus {
          outline: none;
        }
      }
    }

    .m-onboardingV5VerifyEmail__resendCodeText {
      margin-top: $spacing7;

      @include body1Regular;
      @include unselectable;
      @include m-theme() {
        color: themed($m-textColor--primary);
      }

      // breaking encapsulation because this is dynamically injected.
      ::ng-deep .m-onboardingV5VerifyEmail__resendCodeAction {
        cursor: pointer;
        white-space: nowrap;

        @include m-theme() {
          color: themed($m-action);
        }
      }
    }
  }
}
