@import 'defaults.scss';

:host {
  ::ng-deep {
    m-button {
      display: block;
      button {
        padding: 10px 15px;
        min-height: 38px;

        background-color: var(--m-pro--plain-background-color) !important;
        border: 2px solid var(--m-pro--primary-color);
        &:hover,
        &:active {
          box-shadow: none !important;
        }
        div {
          font-size: 17px;
          line-height: 17px;
          font-weight: 400;
          color: var(--m-pro--text-color);
          @media screen and (max-width: $max-mobile) {
            font-size: 20px;
          }
        }
      }
    }
  }
}
