<!--<m-discovery__tabs></m-discovery__tabs>-->
<m-discovery__tabs></m-discovery__tabs>
<m-discovery__feedItem
  *ngFor="let entity$ of feed$ | async"
  [entity]="entity$ | async"
></m-discovery__feedItem>

<infinite-scroll
  (load)="loadNext()"
  [moreData]="hasMore$ | async"
  [inProgress]="inProgress$ | async"
>
</infinite-scroll>
