@import 'defaults.scss';
@import '../stylesheets/two-column-layout.ng.scss';

:host {
  height: 100%;
  max-height: 100%;

  .m-onboardingV5__loadingSpinner {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
