<ng-container
  *ngIf="!(stepFetchInProgress$ | async); else loadingInProgressTemplate"
>
  <div
    class="m-twoColumnLayout"
    *ngIf="!(onboardingCompleted$ | async); else completionSplashTemplate"
  >
    <div
      class="m-twoColumnLayout__leftContainer"
      *ngIf="activeStep$ | async as activeStep"
    >
      <m-onboardingV5__stepper></m-onboardingV5__stepper>
      <ng-container [ngSwitch]="activeStep.stepType">
        <m-onboardingV5__verifyEmailContent
          *ngSwitchCase="'verify_email'"
          [title]="activeStep.data?.title"
          [description]="activeStep.data?.description"
          [data]="activeStep.data"
        ></m-onboardingV5__verifyEmailContent>
        <m-onboardingV5__tagSelectorContent
          *ngSwitchCase="'tag_selector'"
          [title]="activeStep.data?.title"
          [description]="activeStep.data?.description"
          [data]="activeStep.data"
        ></m-onboardingV5__tagSelectorContent>
        <m-onboardingV5__radioSurveyContent
          *ngSwitchCase="'survey'"
          [title]="activeStep.data?.title"
          [description]="activeStep.data?.description"
          [data]="activeStep.data"
        ></m-onboardingV5__radioSurveyContent>
        <m-onboardingV5__channelRecommendationsContent
          *ngSwitchCase="'user_selector'"
          publisherType="user"
          [title]="activeStep.data?.title"
          [description]="activeStep.data?.description"
          [data]="activeStep.data"
        ></m-onboardingV5__channelRecommendationsContent>
        <m-onboardingV5__channelRecommendationsContent
          *ngSwitchCase="'group_selector'"
          publisherType="group"
          [title]="activeStep.data?.title"
          [description]="activeStep.data?.description"
          [data]="activeStep.data"
        ></m-onboardingV5__channelRecommendationsContent>
      </ng-container>
    </div>
    <div class="m-twoColumnLayout__rightContainer">
      <m-featureCarousel [carouselItems$]="carouselItems$"></m-featureCarousel>
    </div>
  </div>
  <ng-template #completionSplashTemplate>
    <m-onboardingV5__completedSplash></m-onboardingV5__completedSplash>
  </ng-template>
</ng-container>
<ng-template #loadingInProgressTemplate>
  <m-sizeableLoadingSpinner
    class="m-onboardingV5__loadingSpinner"
    inProgress="true"
    spinnerHeight="64px"
    spinnerWidth="64px"
  ></m-sizeableLoadingSpinner>
</ng-template>
