@import 'defaults.scss';

:host {
  form {
    overflow: visible !important;
  }

  .m-form__row--label {
    @include m-theme() {
      color: themed($m-textColor--secondary);
    }
  }

  .m-form__row--label--username {
    margin: 0;
  }

  .m-form__input--details {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
  }

  .password-help {
    padding-left: 4px;
  }

  .m-registerForm__password {
    position: relative;
  }

  .m-register__checkboxes {
    // width: 100%;
    margin-right: 20px;
    m-formInput__checkbox {
      display: block;
      margin-bottom: $minds-margin * 0.5;
      font-size: 11px;

      a {
        @include m-theme() {
          color: themed($m-grey-400);
        }
      }
    }
  }

  .m-login-box > div {
    overflow: visible;
  }

  .tooltip-wrapper {
    bottom: 14px;
    position: absolute;
    right: 16px;

    .m-tooltip--bubble {
      width: 280px;
    }
  }

  .m-register--username-taken {
    position: absolute;
    right: 15px;
    top: 20px;
    @include m-theme() {
      color: themed($m-red);
    }
  }

  .m-register--username-available {
    position: absolute;
    right: 15px;
    top: 20px;
    @include m-theme() {
      color: themed($m-green);
    }
  }

  .m-register__error,
  .m-register__formError {
    font-size: 14px;
    line-height: 20px;

    @include m-theme() {
      color: themed($m-red) !important;
    }
  }

  .m-register__error--multiLine {
    min-height: 40px;
  }

  .ng-invalid.ng-dirty {
    &:not(:focus) {
      @include m-theme() {
        border-color: themed($m-red) !important;
      }
    }
  }

  .m-register__formError {
    margin: 10px 0 10px 0;
  }

  .m-register__error {
    text-align: right;
  }

  .mdl-checkbox {
    padding-top: 5px;
  }

  input.m-input--hide-placeholder::placeholder {
    color: transparent;
  }

  .m-register__divider {
    display: inline-flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
    padding: 10px 0;
    box-sizing: border-box;

    span:not(.m-register__divider__text) {
      flex: 1;
      margin: 0 -40px;
      @include m-theme() {
        border-bottom: 2px solid themed($m-borderColor--primary);
      }
    }
    .m-register__divider__text {
      padding: 0 20px;
      font-size: 15px;
      font-weight: 600;
    }
  }

  .m-register__footer {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: space-between;
    padding: 18px 0 8px 0;

    .m-register__alreadyAUser {
      @include m-theme() {
        color: themed($m-textColor--secondary);
      }

      .m-register__loginToMinds {
        @include m-theme() {
          color: themed($m-blue);
          cursor: pointer;
        }
      }
    }
  }

  @media screen and (max-width: $max-mobile) {
    .m-register__divider {
      display: none;
    }

    .m-register__footer {
      flex-flow: column-reverse nowrap;
    }

    .m-register__actions {
      align-items: flex-start;
    }

    .m-register__alreadyAUser {
      margin-top: 16px;
    }

    ::ng-deep {
      m-button,
      button {
        width: 100%;
      }
    }
  }

  ::ng-deep .m-registerForm__captcha {
    input {
      width: 100%;
    }
  }

  ::ng-deep m-friendlyCaptcha {
    .frc-icon {
      margin-left: 0;
    }
  }
}
