m-settingsV2__paymentMethods {
  div,
  a,
  span,
  > * {
    font-size: 15px;
    line-height: 20px;
    font-weight: 300;
    @media screen and (max-width: $max-mobile) {
      font-size: 14px;
    }
  }
  a {
    cursor: pointer;
    text-decoration: underline;
    @include m-theme() {
      color: themed($m-link-text);
    }
  }

  .m-settingsV2__paymentMethods__expiry {
    &.expired {
      @include m-theme() {
        color: themed($m-alert);
      }
    }
  }

  .m-settingsV2__paymentMethods__add {
    span {
      display: block;
      margin-top: 34px;
    }
  }

  .m-settingsV2__table {
    ul {
      margin: 0;
    }

    ul,
    li {
      list-style: none;
      cursor: default;
      padding: 0;
    }

    .m-settingsV2__tableItem {
      align-items: flex-start;
      > div {
        > * {
          margin: 0;
        }
      }
    }

    .m-settingsV2__tableHeader {
      align-items: flex-end;
      padding-bottom: 6px;
      @include m-theme() {
        color: themed($m-textColor--tertiary);
      }

      > div:last-child {
        > span {
          margin-bottom: 0;
        }
      }
    }

    .m-settingsV2__tableItem,
    .m-settingsV2__tableHeader {
      display: flex;
      flex-flow: row nowrap;
      margin: 20px 0;

      > div {
        &:first-child {
          flex: 3 1 250px;
          > span {
            margin-left: 8px;
            &:first-child {
              margin-left: 0;
            }
          }
        }
        &:last-child {
          display: flex;
          flex-wrap: nowrap;
          justify-content: space-between;
          align-items: center;
          flex: 2 1 auto;
        }
      }
    }

    .m-settingsV2__tableCol--right {
      > * {
        &:first-child {
          margin-right: 10px;
        }
      }
    }
    .m-settingsV2__tableItem__action {
      box-sizing: border-box;
      min-width: 90px;
      margin-right: 0;
      span {
        display: inline;
      }
      @media screen and (max-width: $max-mobile) {
        min-width: 68px;
        span {
          display: none;
        }
      }
    }
  }
}
