<ng-container *ngIf="group">
  <div class="m-groupReview__topBar">
    <a class="m-groupReview__topBarBackButton" routerLink="..">
      <i class="material-icons">arrow_back</i>
    </a>
    <h5 class="m-groupReview__topBarTitle" i18n="@@GROUPS_REVIEW__REVIEW_QUEUE">
      Review Queue
    </h5>
  </div>
  <div class="minds-list">
    <div>
      <div
        class="m-groupReview__item"
        *ngFor="let entity of entities; let i = index"
      >
        <m-activity
          [entity]="entity"
          [canDelete]="group['is:owner'] || group['is:moderator']"
          (deleted)="delete(entity)"
          [attr.data-minds-activity-guid]="entity.guid"
          [displayOptions]="{
            isFeed: true,
            showComments: false,
            showToolbar: false,
            autoplayVideo: false
          }"
        >
        </m-activity>

        <!-- Review -->

        <div bottom-content class="m-groups-feed--review-actions">
          <m-button
            color="red"
            (onAction)="reject(entity, i)"
            i18n="@@COMMON__REJECT"
          >
            Reject
          </m-button>
          <m-button
            color="blue"
            (onAction)="approve(entity, i)"
            i18n="@@COMMON__APPROVE"
          >
            Approve
          </m-button>
        </div>

        <!-- / -->
      </div>

      <infinite-scroll
        (load)="load()"
        [moreData]="moreData"
        [inProgress]="inProgress"
      ></infinite-scroll>
    </div>
  </div>

  <m-groups__kick-modal
    *ngIf="kicking"
    [user]="kicking"
    [group]="group"
    (closed)="kick(null)"
  ></m-groups__kick-modal>
</ng-container>
