m-composer__popup {
  display: block;
  position: absolute;
  border-radius: 5px;
  z-index: 1;

  &.m-composer__popup--open {
    display: block;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;

    @include m-on-theme(light) {
      background: rgba(0, 0, 0, 0.2);
    }

    @include m-on-theme(dark) {
      background: rgba(0, 0, 0, 0.3);
    }
  }
}

.m-composer__popup {
  position: absolute;
  top: 50%;
  left: 0;
  right: 0;
  bottom: auto;
  min-height: 360px; // Why is this needed?
  max-height: 100vh;
  overflow-x: hidden;
  overflow-y: auto;
  display: flex;
  flex-direction: column;
  transform: translateY(-50%);

  @include m-theme() {
    background: themed($m-bgColor--primary);
  }

  @media screen and (max-width: $max-mobile) {
    top: 0;
    bottom: 0;
    overflow: scroll;
    transform: initial;
  }

  > * {
    flex: 1;
    display: flex;
    flex-direction: column;
  }

  .m-composerPopup__close {
    position: absolute;
    flex: initial;
    top: 24px;
    right: 40px;
    font-size: 16px;
    cursor: pointer;

    @include m-theme() {
      color: themed($m-textColor--secondary);
    }

    @media screen and (max-width: $max-mobile) {
      margin-right: $spacing6;
    }
  }
}

// Popups common styles

.m-composerPopup__body {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  justify-content: space-between;
  padding: 20px 0 20px;

  a {
    font-size: inherit;
    font-weight: inherit;

    @include m-theme() {
      color: themed($m-link-text);
    }
  }

  .m-tooltip > i.material-icons {
    color: inherit;
    font-weight: normal;
    font-size: 1.15em;
    vertical-align: middle;
    margin-left: 7px;
  }

  .m-composerPopup__content {
    flex: 1;
    padding: 0 40px;
  }

  .m-composerPopup__title {
    font-weight: 500;
    font-size: 24px;
    line-height: 32px;

    @include m-theme() {
      color: themed($m-textColor--primary);
    }
  }

  h3,
  h4,
  p {
    margin: 0;
  }

  .m-composerPopup__subtitle {
    font-size: 16px;
    line-height: 21px;
    font-weight: 500;
    margin: 24px 0 20px;
    @include m-theme() {
      color: themed($m-textColor--primary);
    }
  }

  .m-composerPopup__text,
  .m-composerPopup__smallNote {
    font-weight: normal;
    padding-right: 60px;

    @media screen and (max-width: $max-mobile) {
      padding-right: 0;
    }

    @include m-theme() {
      color: themed($m-textColor--secondary);
    }
  }

  .m-composerPopup__text {
    font-size: 16px;
    line-height: 21px;
  }
  .m-composerPopup__error {
    margin-right: 10px;
    @include m-theme() {
      color: themed($m-alert);
    }
  }

  .m-composerPopup__smallNote {
    font-size: 14px;
    line-height: 23px;
    padding-bottom: $spacing2;
  }

  .m-composerPopup__field {
    font-size: 16px;
    line-height: 21px;

    @include m-theme() {
      color: themed($m-textColor--primary);
    }

    label.m-composerPopup__trigger {
      display: inline-flex;
      align-items: center;
      justify-content: flex-start;
    }

    label:not(.m-composerPopup__trigger),
    .m-composerPopup__label {
      display: block;
      font-size: 16px;
      line-height: 21px;
      font-weight: normal;

      @include m-theme() {
        color: themed($m-textColor--secondary);
      }
    }

    @mixin popup-input-styling {
      position: relative;
      appearance: none;
      box-sizing: border-box;
      background: transparent;
      border: 1px solid;
      border-radius: 2px;
      font-size: inherit;
      line-height: inherit;

      @include m-theme() {
        border-color: themed($m-borderColor--primary);
      }
    }

    input[type='text'],
    input[type='number'],
    input[type='password'],
    input[type='time'],
    input[type='email'] {
      width: 225px;
      max-width: 100%;
      padding: 9px 14px 10px;
      margin: 0;

      @include popup-input-styling;

      @media screen and (max-width: $max-mobile) {
        width: 100%;
      }

      @include m-theme() {
        color: themed($m-textColor--secondary);
        background: themed($m-bgColor--primary);
      }
    }

    button {
      padding: 8px 23px;
      margin: 0;
      cursor: pointer;
      font-weight: bold;

      @include popup-input-styling;

      @include m-theme() {
        color: themed($m-textColor--secondary);
        background: themed($m-bgColor--primary);
      }

      &[disabled] {
        cursor: initial;
      }
    }

    input[type='checkbox'] {
      display: inline-block;
      width: 1em;
      height: 1em;
      margin: 0 10px 0 0;
      padding: 0;
      cursor: pointer;

      @include popup-input-styling;

      &:checked::after {
        content: '';
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        background-size: contain;

        @include m-theme() {
          background: url(checkmark-image(themed($m-textColor--primary)))
            no-repeat center center;
        }
      }
    }
  }

  .m-composerPopup__action {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;
    padding: 20px 40px 0;
    border-top: 1px solid;

    @include m-theme() {
      border-color: themed($m-borderColor--primary);
    }
  }
}
