<ng-container *ngIf="key && !isDismissed">
  <ng-container [ngSwitch]="key">
    <m-feedNotice--verifyEmail
      *ngSwitchCase="'verify-email'"
    ></m-feedNotice--verifyEmail>
    <m-feedNotice--supermindPending
      *ngSwitchCase="'supermind-pending'"
    ></m-feedNotice--supermindPending>
    <m-feedNotice--setupChannel
      *ngSwitchCase="'setup-channel'"
    ></m-feedNotice--setupChannel>
    <m-feedNotice--verifyUniqueness
      *ngSwitchCase="'verify-uniqueness'"
    ></m-feedNotice--verifyUniqueness>
    <m-feedNotice--connectWallet
      *ngSwitchCase="'connect-wallet'"
    ></m-feedNotice--connectWallet>
    <m-feedNotice--enablePushNotifications
      *ngSwitchCase="'enable-push-notifications'"
    ></m-feedNotice--enablePushNotifications>
    <m-feedNotice--updateTags
      *ngSwitchCase="'update-tags'"
    ></m-feedNotice--updateTags>
    <m-feedNotice--plusUpgrade
      *ngSwitchCase="'plus-upgrade'"
    ></m-feedNotice--plusUpgrade>
    <m-feedNotice--boostChannel
      *ngSwitchCase="'boost-channel'"
    ></m-feedNotice--boostChannel>
    <m-feedNotice--inviteFriends
      *ngSwitchCase="'invite-friends'"
    ></m-feedNotice--inviteFriends>
    <m-feedNotice--boostPartners
      *ngSwitchCase="'boost-partners'"
    ></m-feedNotice--boostPartners>
    <m-feedNotice--boostLatestPost
      *ngSwitchCase="'boost-latest-post'"
    ></m-feedNotice--boostLatestPost>
    <m-feedNotice--noGroups
      *ngSwitchCase="'no-groups'"
    ></m-feedNotice--noGroups>
  </ng-container>
</ng-container>
