<m-feedNotice icon="info" (dismissClick)="dismiss()" dataRefId="update-tags">
  <span
    class="m-feedNotice__title"
    i18n="@@FEED_NOTICE__UPDATE_TAG_PREFERENCES__TITLE"
    >Update your preferences</span
  >
  <p
    class="m-feedNotice__body"
    i18n="@@FEED_NOTICE__UPDATE_TAG_PREFERENCES__BODY"
  >
    Updating your interest tags improves your experience on Minds, and makes it
    easier to discover creators and content you haven't found yet.
  </p>
  <m-button
    class="m-feedNotice__buttonPrimary"
    color="blue"
    solid="true"
    size="small"
    (onAction)="onPrimaryOptionClick($event)"
    data-ref="feed-notice-update-tags-primary-click"
  >
    <ng-container i18n="@@FEED_NOTICE__UPDATE_TAG_PREFERENCES__UPDATE_BUTTON">
      Update
    </ng-container>
  </m-button>
</m-feedNotice>
