<div class="m-form__fieldsContainer">
  <div class="m-form__row--input m-channelEdit__hashtagInput">
    <m-hashtags__typeaheadInput
      placeholder="Enter tag"
      historyKey="channel-edit"
      [disabled]="isHashtagLimitReached$ | async"
      (click)="checkHashtagLimit()"
      [maxEntries]="5"
      (onAction)="addHashtagIntent($event)"
      #hashtagsTypeaheadInput
    ></m-hashtags__typeaheadInput>

    <button
      class="m-fieldButton-v2"
      [disabled]="isHashtagLimitReached$ | async"
      (click)="hashtagsTypeaheadInput.triggerAction()"
      i18n="@@COMMON__ADD"
      data-ref="data-minds-hashtag-add-button"
    >
      Add
    </button>
  </div>
</div>

<ul class="m-channelEdit__hashtagList">
  <li
    *ngFor="let tag of service.hashtags$ | async"
    class="m-channelEditHashtagList__item"
  >
    <span>#{{ tag }}</span>
    <m-icon
      class="m-channelEditHashtagListItem__remove"
      iconId="close"
      [sizeFactor]="-20"
      (click)="service.removeHashtag(tag)"
      data-ref="data-minds-hashtag-remove-button"
    ></m-icon>
  </li>
</ul>
