<div class="m-form__fieldsContainer">
  <div class="m-form__row--input m-channelEdit__socialLinkInput">
    <input
      type="text"
      class="form-control"
      name="social-link-url"
      placeholder="Enter URL"
      i18n-placeholder="@@COMMON__SOCIAL_LINKS__ENTER_URL"
      [(ngModel)]="url"
      (keydown.enter)="addSocialLink()"
      #socialLinkUrlInput
      data-ref="data-minds-social-link-input"
    />

    <button
      class="m-fieldButton-v2"
      [disabled]="!socialLinkUrlInput.value"
      (click)="addSocialLink()"
      i18n="@@COMMON__ADD"
      data-ref="data-minds-social-link-add-button"
    >
      Add
    </button>
  </div>
</div>

<ul class="m-channelEdit__socialLinkList">
  <li
    *ngFor="let socialLink of service.socialLinks$ | async; let i = index"
    class="m-channelEditSocialLinkList__item"
  >
    <span>{{ socialLink.value }}</span>
    <m-icon
      class="m-channelEditSocialLinkListItem__remove"
      iconId="close"
      [sizeFactor]="-20"
      (click)="service.removeSocialLink(i)"
      data-ref="data-minds-social-link-remove-button"
    ></m-icon>
  </li>
</ul>
