<!-- ------------------------------------------------->
<!-- /\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/-->
<!-- EARN METHOD: REFERRAL -->
<!-- /\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/-->
<!-- ------------------------------------------------->
<ng-container *ngIf="earnMethod === 'referral'">
  <span class="m-affiliatesShare__title">
    <ng-container i18n="@@AFFILIATES__SHARE__TITLE__REFERRAL"
      >Invite to Minds</ng-container
    >
  </span>
  <div class="m-affiliatesShare__buttons">
    <!-- -------------------------->
    <!-- BUTTON: Twitter -->
    <!-- -------------------------->
    <div
      class="m-affiliatesShareButtons__button m-affiliatesShareButtons__button--twitter"
    >
      <m-button
        size="large"
        iconOnly="true"
        (onAction)="openTwitter()"
        data-ref="m-affiliatesShareButtons__button--twitter"
      >
        <img src="{{ cdnAssetsUrl }}assets/icons/twitter.svg" />
      </m-button>
      <span i18n="@@M_SHARE__BUTTON_TWITTER">Twitter</span>
    </div>
    <!-- -------------------------->
    <!-- BUTTON: Facebook -->
    <!-- -------------------------->
    <div
      class="m-affiliatesShareButtons__button m-affiliatesShareButtons__button--facebook"
    >
      <m-button
        size="large"
        iconOnly="true"
        (onAction)="openFacebook()"
        data-ref="m-affiliatesShareButtons__button--facebook"
      >
        <img src="{{ cdnAssetsUrl }}assets/icons/facebook.svg" />
      </m-button>
      <span i18n="@@M_SHARE__BUTTON_FACEBOOK">Facebook</span>
    </div>
    <!-- -------------------------->
    <!-- BUTTON: Email -->
    <!-- -------------------------->
    <div
      class="m-affiliatesShareButtons__button m-affiliatesShareButtons__button--email"
    >
      <m-button
        size="large"
        iconOnly="true"
        (onAction)="openEmail()"
        data-ref="m-affiliatesShareButtons__button--email"
      >
        <m-icon iconId="email"></m-icon>
      </m-button>
      <span i18n="@@M__COMMON__EMAIL">Email</span>
    </div>
    <!-- -------------------------->
    <!-- BUTTON: Messages -->
    <!-- -------------------------->
    <div
      *ngIf="isMobile()"
      class="m-affiliatesShareButtons__button m-affiliatesShareButtons__button--sms"
    >
      <m-button
        size="large"
        iconOnly="true"
        (onAction)="openSMS()"
        data-ref="m-affiliatesShareButtons__button--sms"
      >
        <m-icon iconId="chat_bubble"></m-icon>
      </m-button>
      <span i18n="@@COMMON__MESSAGES">Messages</span>
    </div>
  </div>
  <!-- -------------------------->
  <!-- BUTTON: Copy link -->
  <!-- -------------------------->
  <m-button
    solid="true"
    class="m-affiliatesShare__copyButton"
    (onAction)="copyUrlToClipboard()"
    data-ref="m-affiliatesShareButtons__button--copyLink"
  >
    <i class="material-icons m-affiliatesShareButton__icon">content_copy</i>
    <ng-container ii18n="@@AFFILIATES__SHARE__COPY_LINK"
      >Copy link</ng-container
    >
  </m-button>
  <!-- -------------------------->
  <!-- SUBTEXT -->
  <!-- -------------------------->
  <span
    class="m-affiliatesShare__description"
    i18n="@@AFFILIATES__SHARE__DESCRIPTION__REFERRAL"
    >Earn for up to 1 year from when someone uses your link to sign up.</span
  >
</ng-container>

<!-- ------------------------------------------------->
<!-- /\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/-->
<!-- EARN METHOD: AFFILIATE  -->
<!-- /\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/-->
<!-- ------------------------------------------------->

<ng-container *ngIf="earnMethod === 'affiliate'">
  <span class="m-affiliatesShare__title">
    <ng-container i18n="@@AFFILIATES__SHARE__TITLE__AFFILIATE"
      >Earn with affiliate link</ng-container
    >
  </span>
  <div class="m-affiliatesShare__buttons">
    <!-- -------------------------->
    <!-- BUTTON: Minds+ -->
    <!-- -------------------------->
    <div class="m-affiliatesShareButtons__button">
      <m-button
        size="large"
        iconOnly="true"
        (onAction)="copyUrlToClipboard('plus')"
        data-ref="m-affiliatesShareButtons__button--plus"
        ><m-icon iconId="add_to_queue"></m-icon
      ></m-button>
      <span i18n="@@COMMON__MINDS+">Minds+</span>
    </div>
    <!-- -------------------------->
    <!-- BUTTON: Boost -->
    <!-- -------------------------->
    <div class="m-affiliatesShareButtons__button">
      <m-button
        size="large"
        iconOnly="true"
        (onAction)="copyUrlToClipboard('boost/boost-console')"
        data-ref="m-affiliatesShareButtons__button--boost"
        ><m-icon iconId="trending_up"></m-icon
      ></m-button>
      <span i18n="@@COMMON__BOOST">Boost</span>
    </div>
    <!-- -------------------------->
    <!-- BUTTON: Pro -->
    <!-- -------------------------->
    <div class="m-affiliatesShareButtons__button">
      <m-button
        size="large"
        iconOnly="true"
        (onAction)="copyUrlToClipboard('pro')"
        data-ref="m-affiliatesShareButtons__button--pro"
      >
        <img
          *ngIf="themeService.isDark$ | async"
          src="{{ cdnAssetsUrl }}assets/badges/proDark.svg"
        />
        <img
          *ngIf="!(themeService.isDark$ | async)"
          src="{{ cdnAssetsUrl }}assets/badges/proLight.svg"
        />
      </m-button>
      <span i18n="@@COMMON__MINDS_PRO">Minds Pro</span>
    </div>
  </div>
  <!-- -------------------------->
  <!-- SUBTEXT -->
  <!-- -------------------------->
  <span
    class="m-affiliatesShare__description m-affiliatesShare__description--referral"
    i18n="@@AFFILIATES__SHARE__DESCRIPTION__REFERRAL"
    >Earn for up to 72 hours from when someone uses your link to make a
    purchase.</span
  >
</ng-container>
