<table>
  <ng-content></ng-content>

  <ng-container *ngIf="transactions">
    <ng-container *ngFor="let tx of transactions">
      <ng-container *ngIf="tx.displayDate">
        <tr class="m-walletTransactionsTable__row--date">
          <td colspan="4">{{ tx.displayDate }}</td>
        </tr>
      </ng-container>
      <tr class="m-walletTransactionsTable__row--hasIcon">
        <td class="m-walletTransactionsTable__time">{{ tx.displayTime }}</td>
        <td class="m-walletTransactionsTable__details">
          <ng-container [ngSwitch]="tx.superType">
            <!-- REWARDS -->
            <ng-template ngSwitchCase="reward">
              <div
                class="m-walletTransactionsTable__typeWrapper--reward"
                (mouseenter)="tx.showRewardsPopup = true"
                (mouseleave)="tx.showRewardsPopup = false"
              >
                <i class="material-icons">star_border</i>
                <span>{{ tx?.rewardType }} Reward</span>
              </div>
            </ng-template>

            <!-- BOOSTS -->
            <ng-template ngSwitchCase="boost">
              <ng-container
                *ngIf="
                  !tx.otherUser || isDynamicBoost(tx);
                  else boostOfferTemplate
                "
              >
                <div class="m-walletTransactionsTable__typeWrapper--boost">
                  <i class="material-icons">trending_up</i
                  ><span>{{ getTypeLabel(tx.type) }}ed Content</span>
                </div></ng-container
              >

              <ng-template #boostOfferTemplate>
                <div
                  class="m-walletTransactionsTable__typeWrapper--boost"
                  *ngIf="tx.otherUser"
                >
                  <img
                    class="m-walletTransactionsTable__avatar"
                    [routerLink]="['/', tx.otherUser.username]"
                    [src]="tx.otherUser.avatar"
                  />
                  <span
                    >{{ getTypeLabel(tx.type) }} Offer
                    {{ tx.otherUser.isSender ? 'from' : 'to' }}
                    <a
                      class="m-walletTransactionsTable__otherUserLink"
                      [routerLink]="['/', tx.otherUser.username]"
                    >
                      @{{ tx.otherUser.username }}</a
                    ></span
                  >
                </div>
              </ng-template>
            </ng-template>

            <ng-template ngSwitchCase="boost_refund">
              <div class="m-walletTransactionsTable__typeWrapper--boost">
                <i class="material-icons">trending_up</i
                ><span i18n="@@WALLETV2_TX_TABLE__BOOST_REFUND"
                  >Boost Refund</span
                >
              </div>
            </ng-template>

            <!-- PURCHASES -->
            <ng-template ngSwitchCase="purchase">
              <div class="m-walletTransactionsTable__typeWrapper--purchase">
                <i class="material-icons">shopping_cart</i
                ><span i18n="@@WALLETV2_TX_TABLE__PURCHASE">Purchase</span>
              </div></ng-template
            >

            <!-- ON-CHAIN TRANSFERS -->
            <ng-template ngSwitchCase="withdraw"
              ><div class="m-walletTransactionsTable__typeWrapper--withdraw">
                <i class="material-icons m-walletTransactionsTable__icon--arrow"
                  >arrow_forward</i
                ><span>{{ getTypeLabel(tx.superType) }}</span>
              </div></ng-template
            >

            <!-- PAYOUTS -->
            <ng-template ngSwitchCase="payout"
              ><div class="m-walletTransactionsTable__typeWrapper--payout">
                <i class="material-icons m-walletTransactionsTable__icon--arrow"
                  >arrow_forward</i
                ><span i18n="@@WALLETV2_TX_TABLE__PAYOUT"
                  >Transfer to Bank Account</span
                >
              </div></ng-template
            >

            <!-- PRO EARNINGS -->
            <ng-template ngSwitchCase="pro_earning"
              ><div class="m-walletTransactionsTable__typeWrapper--pro_earning">
                <i class="material-icons m-walletTransactionsTable__icon--arrow"
                  >arrow_forward</i
                ><span i18n="@@WALLETV2_TX_TABLE__PRO_EARNINGS">Earnings</span>
              </div></ng-template
            >

            <!-- WIRES -->
            <ng-template ngSwitchCase="wire">
              <div
                class="m-walletTransactionsTable__typeWrapper--wire"
                *ngIf="tx.otherUser"
              >
                <img
                  class="m-walletTransactionsTable__avatar"
                  [routerLink]="['/', tx.otherUser.username]"
                  [src]="tx.otherUser.avatar"
                />
                <span
                  >{{ getTypeLabel(tx.type) }}
                  {{ tx.otherUser.isSender ? 'from' : 'to' }}
                  <a
                    class="m-walletTransactionsTable__otherUserLink"
                    [routerLink]="['/', tx.otherUser.username]"
                  >
                    @{{ tx.otherUser.username }}</a
                  ></span
                >
              </div>
            </ng-template>

            <!-- Supermind -->
            <ng-template ngSwitchCase="supermind">
              <div class="m-walletTransactionsTable__typeWrapper--supermind">
                <!-- When other user is provided -->
                <ng-container *ngIf="tx.otherUser; else supermindOfferNoUser">
                  <img
                    class="m-walletTransactionsTable__avatar"
                    [routerLink]="['/', tx.otherUser.username]"
                    [src]="tx.otherUser.avatar"
                    alt="other users avatar"
                  />
                  <span
                    >Supermind Offer
                    {{ tx.otherUser.isSender ? 'from' : 'to' }}
                    <a
                      class="m-walletTransactionsTable__otherUserLink"
                      [routerLink]="['/', tx.otherUser.username]"
                    >
                      @{{ tx.otherUser.username }}</a
                    ></span
                  >
                </ng-container>
                <!-- Fallback if no other user is provided -->
                <ng-template #supermindOfferNoUser>
                  <i
                    class="material-icons m-walletTransactionsTable__icon--arrow"
                    >tips_and_updates</i
                  >
                  <span i18n="@@WALLETV2_TX_TABLE__SUPERMIND_OFFER"
                    >Supermind Offer</span
                  >
                </ng-template>
              </div>
            </ng-template>

            <!-- Default -->
            <ng-template ngSwitchDefault
              ><div class="m-walletTransactionsTable__typeWrapper--default">
                <span i18n="@@WALLETV2_TX_TABLE__TRANSACTION">Transaction</span>
              </div></ng-template
            >
          </ng-container>
        </td>
        <td class="m-walletTransactionsTable__amountWrapper">
          <i
            class="material-icons"
            [ngClass]="{
              neutral: tx.delta === 'neutral',
              positive: tx.delta === 'positive',
              negative: tx.delta === 'negative'
            }"
            >play_arrow</i
          >
          <span *ngIf="currency === 'tokens'">{{ tx.amount }}</span>
          <span *ngIf="currency !== 'tokens'">{{
            tx.amount | currency: currency
          }}</span>
        </td>
        <td
          class="m-walletTransactionsTable__totalWrapper"
          *ngIf="
            (currency === 'tokens' && !filterApplied) || currency !== 'tokens'
          "
        >
          <span
            class="m-walletTransactionsTable__total--int"
            *ngIf="currency === 'tokens'"
            >{{ tx.runningTotal.int | number: '1.0-0' }}</span
          >
          <span
            class="m-walletTransactionsTable__total--int"
            *ngIf="currency !== 'tokens'"
            >{{ tx.runningTotal.int | currency: currency | slice: 0:-3 }}</span
          >
          <span
            class="m-walletTransactionsTable__total--frac"
            *ngIf="tx.runningTotal.frac"
            >.{{ tx.runningTotal.frac }}</span
          >
        </td>
      </tr>
      <tr class="m-walletTransactionsTable__row--spacer"></tr>
    </ng-container>
  </ng-container>
</table>
