<!-- ---------------------------------------------------  -->
<!-- SUPERMIND BANNER/BUTTON -->
<!-- ---------------------------------------------------  -->
<div
  class="m-activityToolbar__largeActions"
  *ngIf="
    service.displayOptions.showInteractions && !service.displayOptions.isFeed
  "
>
  <m-supermind__banner
    *ngIf="supermindButtonExperiment"
    [entity]="entity"
    data-ref="activity-large-supermind-action--alt"
  ></m-supermind__banner>
  <m-supermind__button
    *ngIf="!supermindButtonExperiment"
    [entity]="entity"
    [iconOnly]="false"
    size="large"
    data-ref="activity-large-supermind-action"
  ></m-supermind__button>
</div>
<!-- ---------------------------------------------------  -->
<!-- TOOLBAR BUTTONS ROW -->
<!-- ---------------------------------------------------  -->
<div
  class="m-activityToolbar__actions"
  [ngClass]="{
    'm-activityToolbar__actions--noMetrics': !showMetrics,
    'm-activityToolbar__actions--hasComments': entity['comments:count'] > 0
  }"
  *ngIf="service.displayOptions.showToolbarButtonsRow"
>
  <minds-button-thumbs-up
    [object]="entity"
    [iconOnly]="service.displayOptions.showInteractions"
    (thumbsUpChange)="detectChanges()"
  ></minds-button-thumbs-up>
  <minds-button-thumbs-down
    [object]="entity"
    [iconOnly]="service.displayOptions.showInteractions"
    (thumbsDownChange)="detectChanges()"
  ></minds-button-thumbs-down>

  <m-activity__remindButton *ngIf="allowReminds"> </m-activity__remindButton>

  <minds-button-comment
    [object]="entity"
    [iconOnly]="service.displayOptions.showInteractions"
    (click)="toggleComments()"
    *ngIf="
      !service.displayOptions.showComments ||
      service.displayOptions.showComments
    "
  ></minds-button-comment>
  <m-supermind__button
    [entity]="entity"
    [iconOnly]="true"
    data-ref="activity-icon-supermind-action"
  ></m-supermind__button>

  <!-- Show boost if own post -->
  <ng-container
    *ngIf="
      session.getLoggedInUser() &&
      session.getLoggedInUser().guid == entity.ownerObj.guid
    "
  >
    <m-activity__boostButton
      (click)="openBoostModal($event)"
    ></m-activity__boostButton>
  </ng-container>
</div>
<!-- ---------------------------------------------------  -->
<!-- METRICS  -->
<!-- ---------------------------------------------------  -->
<div
  class="m-activityToolbar__metrics m-legible"
  *ngIf="service.displayOptions.showInteractions && showMetrics"
  [ngClass]="{
    'm-activityToolbar__metrics--guestMode': !session.getLoggedInUser()
  }"
>
  <div
    class="m-activityToolbarMetrics__metric"
    *ngIf="entity['thumbs:up:count'] > 0"
    (click)="openInteractions('votes-up')"
  >
    <span [@counterChange]="entity['thumbs:up:count']">{{
      entity['thumbs:up:count']
    }}</span>
    <span
      >{ entity['thumbs:up:count'], plural, =1 {upvote} other {upvotes}}</span
    >
  </div>

  <div
    class="m-activityToolbarMetrics__metric"
    *ngIf="entity['thumbs:down:count'] > 0"
    (click)="openInteractions('votes-down')"
  >
    <span [@counterChange]="entity['thumbs:down:count']">{{
      entity['thumbs:down:count']
    }}</span>
    <span
      >{ entity['thumbs:down:count'], plural, =1 {downvote} other
      {downvotes}}</span
    >
  </div>

  <div
    class="m-activityToolbarMetrics__metric"
    *ngIf="entity?.reminds > 0"
    (click)="openInteractions('reminds')"
  >
    <span>{{ entity.reminds }}</span>
    <span>{ entity.reminds, plural, =1 {remind} other {reminds}}</span>
  </div>

  <div
    class="m-activityToolbarMetrics__metric"
    *ngIf="entity?.quotes > 0"
    (click)="openInteractions('quotes')"
  >
    <span>{{ entity.quotes }}</span>
    <span>{ entity.quotes, plural, =1 {quote} other {quotes}}</span>
  </div>
</div>
<!-- ---------------------------------------------------  -->
<!-- BOOST CTA -->
<!-- ---------------------------------------------------  -->
<m-activity__boostCta
  *ngIf="
    service.displayOptions.isFeed &&
    !service.displayOptions.minimalMode &&
    !service.displayOptions.sidebarMode &&
    !service.displayOptions.isModal &&
    !service.displayOptions.isSingle
  "
  [entity]="entity"
></m-activity__boostCta>
