@import 'defaults.scss';

.m-messenger--conversation {
  border-radius: 3px 3px 0 0;
  @include m-theme() {
    box-shadow: 0 2px 4px 0 rgba(themed($m-black), 0.15),
      0 1px 0px -2px rgba(themed($m-black), 0.15),
      0 1px 5px 0 rgba(themed($m-black), 0.15);
  }

  .m-messenger--conversation-messages {
    max-height: 240px;
    overflow: scroll;
    overflow-x: hidden;

    &.m-messenger--ribbon-open {
      min-height: 29px;
    }

    .m-messenger--conversation-message-bubble {
      display: inline-block;
      padding: $minds-padding;
      border-radius: 3px;
      font-size: 12px;
      margin: $minds-margin * 0.5 $minds-margin;
      font-weight: 400;
      max-width: 160px;
      box-sizing: border-box;
      line-height: 14px;
      text-align: left;
      word-wrap: break-word;
      cursor: pointer;
      white-space: pre-line;
      @include m-theme() {
        background-color: themed($m-grey-50);
      }
    }
    .m-messenger--conversation-messages-message {
      text-align: right;

      img {
        border-radius: 50%;
        width: 18px;
        margin-right: $minds-margin;
        cursor: pointer;
      }

      &.odd {
        text-align: left;
        .m-messenger--conversation-message-bubble {
          @include m-theme() {
            background-color: themed($m-grey-100) !important;
          }
        }
        img {
          margin-right: 0;
          margin-left: $minds-margin;
        }
      }

      &.m-optimistic-guess {
        opacity: 0.6;
      }

      .m-messenger--conversations-ts {
        display: block;
        font-size: 8px;
        padding: 0px 40px;
      }
    }

    .m-messenger--conversation-messages-notice {
      text-align: center;
      margin: $minds-padding 0;
      font-size: 0.7em;

      > span {
        display: inline-block;
        padding: 0 $minds-padding;
      }
    }

    .m-messenger--conversation-messages-invite {
      padding: ($minds-padding * 2) $minds-padding 0;

      p {
        text-align: center;
        margin-bottom: $minds-padding * 2;
        line-height: 1.35;
      }

      button:not([disabled]) {
        &:hover {
          @include m-theme() {
            background-color: themed($m-grey-700);
          }
        }
      }
    }
  }
  .m-messenger--conversation-composer {
    position: relative;
    bottom: 0;
    max-width: 100%;

    textarea {
      outline: none;
      -webkit-appearance: none;
      border: 0;
      resize: none;
      width: 170px;
      font-size: 12px;
      vertical-align: middle;
      padding: 8px;
      line-height: 1em;
      font-family: minds_emoji, 'Inter', Helvetica, sans-serif;
      @include m-theme() {
        background-color: themed($m-bgColor--primaryAlt);
      }
    }
    i {
      width: 24px;
      font-size: 18px;
      vertical-align: middle;
      cursor: pointer;
      overflow: hidden;

      &:hover {
        @include m-theme {
          color: themed($m-grey-800) !important;
        }
      }
    }
  }
}
