@import 'defaults.scss';

:host {
  .m-firehose {
    max-width: 1280px;

    .m-firehose__tagSelector {
      display: flex;
      flex-flow: row wrap;
      align-items: center;
      margin-bottom: 15px;

      .m-firehose__tagInput {
        font-size: 18px;
        margin-right: 10px;
        padding: 6px 20px;
        border: 1px solid black;
        color: white;
        outline: none;

        @include m-theme() {
          border: 1px solid themed($m-borderColor--primary);
        }
      }

      .m-firehose__tagSubmitButton {
      }

      .m-firehose__tag {
        margin: 4px 8px;
        padding: 4px 12px;
        cursor: pointer;
        border-radius: 8px;

        @include m-theme() {
          background-color: themed($m-bgColor--secondary);
          border: 1px solid themed($m-borderColor--primary);
        }
      }
    }
    minds-activity {
      .item-image-video {
        video {
          width: 100%;
          height: auto;
          max-height: 400px;
        }
      }

      .item-image {
        img {
          width: 100%;
          max-height: 400px;
          object-fit: contain;
        }
      }

      minds-rich-embed {
        .thumbnail {
          img {
            width: auto;
            max-height: 400px;
          }
        }
      }
    }

    .m-firehose__moderatorAction {
      display: flex;
      align-items: center;
      justify-content: center;
      padding: 20px;
      margin-bottom: 25px;
      max-width: 270px;
      cursor: pointer;
      transition: color 0.3s cubic-bezier(0.23, 1, 0.32, 1);

      &.m-firehose__moderatorAction--leftButton {
        justify-content: right;
        &:hover {
          @include m-theme() {
            color: themed($m-red);
          }
        }
        &:active {
          @include m-theme() {
            color: themed($m-red-dark);
          }
        }
      }

      &.m-firehose__moderatorAction--rightButton {
        justify-content: left;
        &:hover {
          @include m-theme() {
            color: themed($m-green);
          }
        }
        &:active {
          @include m-theme() {
            color: themed($m-green-dark);
          }
        }
      }
    }

    .m-firehose__sort-container {
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: space-between;
      padding: 12px;
      margin-bottom: 16px;
      @include m-theme() {
        background-color: themed($m-bgColor--primary);
      }

      m-sort-selector {
        width: 100%;
      }
    }

    .m-firehose__spinner {
      text-align: center;
    }
  }
}
