<div class="m-newsfeed__inner">
  <ng-container [m-clientMeta]="{ source: 'feed/subscribed', medium: 'feed' }">
    <div
      class="m-border mdl-color--green mdl-color-text--white m-newsfeed-boost-promo"
      *ngIf="newUserPromo"
    >
      <i class="material-icons">trending_up</i>
      <ng-container i18n="@@MINDS__NEWSFEED__200_FREE_VIEWS"
        >Have 200 free views on us. Hit post to be boosted.
      </ng-container>
    </div>

    <ng-container>
      <m-composer
        [activity]="message ? { message: message } : undefined"
        [size]="'compact'"
        #composer
      ></m-composer>
    </ng-container>

    <m-feedNotice__outlet location="top"></m-feedNotice__outlet>

    <m-newsfeed__tabs></m-newsfeed__tabs>

    <div *ngIf="!persistentFeedExperimentActive" class="minds-list">
      <ng-container *ngIf="algorithm === 'latest'">
        <ng-container *ngFor="let preActivity of prepended; let i = index">
          <m-feedNotice__outlet
            *ngIf="i > 0 && i % 6 === 0"
            location="inline"
          ></m-feedNotice__outlet>
          <m-activity
            [entity]="preActivity"
            [displayOptions]="{
              showOnlyCommentsInput: true,
              isFeed: true
            }"
            (deleted)="delete(preActivity)"
          ></m-activity>
        </ng-container>
      </ng-container>

      <!--boost rotator-->
      <ng-container *mIfBrowser>
        <m-newsfeed--boost-rotator
          *ngIf="showBoostRotator"
          #feedViewChildren
          #boostRotator
        ></m-newsfeed--boost-rotator>
      </ng-container>

      <m-publisherRecommendations
        location="newsfeed"
        *ngIf="shouldShowPublisherRecommendations('emptyState')"
        [publisherType]="recommendationsPublisherType"
      ></m-publisherRecommendations>

      <!--actual feed-->
      <ng-container
        *ngFor="let activity$ of feedService.feed | async; let i = index"
      >
        <m-feedNotice__outlet
          *ngIf="i > 0 && i % 6 === 0"
          location="inline"
        ></m-feedNotice__outlet>
        <m-featured-content
          *ngIf="(i > 0 && i % 5 === 0) || i === 3"
          [slot]="i + 1"
          [displayOptions]="{
            showOnlyCommentsInput: true,
            isFeed: true
          }"
          #feedViewChildren
        ></m-featured-content>
        <m-topHighlights
          (onSeeMore)="onShowMoreTopFeed()"
          *ngIf="
            shouldShowTopHighlights(i) && !(isTopHighlightsDismissed$ | async)
          "
        ></m-topHighlights>
        <m-activity
          *ngIf="activity$ | async as activity"
          [entity]="activity"
          [displayOptions]="{
            showOnlyCommentsInput: true,
            isFeed: true
          }"
          [slot]="i + 1"
          (deleted)="delete(activity)"
          #feedViewChildren
        ></m-activity>
        <m-publisherRecommendations
          location="newsfeed"
          [dismissible]="true"
          [publisherType]="recommendationsPublisherType"
          *ngIf="
            shouldShowPublisherRecommendations('feed', i) &&
            !(isPublisherRecommendationsDismissed$ | async)
          "
        ></m-publisherRecommendations>
      </ng-container>

      <infinite-scroll
        (load)="loadNext()"
        [moreData]="feedService.hasMore | async"
        [inProgress]="feedService.inProgress | async"
        [ignoreEndTracking]="
          isDiscoveryFallbackEnabled() || isLatestFallbackEnabled()
        "
        (onEnd)="onNewsfeedEndReached()"
        [endText]="
          isDiscoveryFallbackEnabled() || isLatestFallbackEnabled()
            ? newsfeedEndText
            : undefined
        "
      >
      </infinite-scroll>

      <ng-container *ngIf="latestFallbackActive$ | async">
        <m-feedHeader>
          <span title i18n="@@MINDS__NEWSFEED__LATEST_POSTS__TITLE"
            >Latest Posts</span
          >
        </m-feedHeader>
        <ng-container
          *ngFor="
            let activity$ of latestFeedService.feed | async;
            let i = index
          "
        >
          <m-activity
            *ngIf="activity$ | async as activity"
            [entity]="activity"
            [displayOptions]="{
              showOnlyCommentsInput: true,
              isFeed: true
            }"
            [slot]="i + 1"
            (deleted)="delete(activity)"
            #feedViewChildren
          ></m-activity>
        </ng-container>

        <infinite-scroll
          (load)="loadNext(latestFeedService)"
          [moreData]="latestFeedService.hasMore | async"
          [inProgress]="latestFeedService.inProgress | async"
          (onEnd)="onNewsfeedEndReached(latestFeedService)"
          [ignoreEndTracking]="isDiscoveryFallbackEnabled()"
        >
        </infinite-scroll>
      </ng-container>

      <ng-container
        *ngIf="
          isDiscoveryFallbackEnabled() &&
          !(isDiscoveryFallbackDismissed$ | async)
        "
      >
        <ng-template #discoveryFallback></ng-template>
      </ng-container>
    </div>
    <ng-container *ngIf="persistentFeedExperimentActive">
      <!-- TODO: prepended items -->
      <!-- TODO: boost rotator -->
      <!-- TODO: emptyState channel recommendation -->
      <m-feed [feedService]="feedService"></m-feed>
      <!-- TODO: latest and discovery fallbacks -->
    </ng-container>
  </ng-container>
</div>

<ng-container *ngIf="algorithm === 'latest'">
  <ng-container *mIfBrowser>
    <m-seeLatestPostsButton
      [feedService]="feedService"
      (click)="scrollToUnderBoostRotator()"
    ></m-seeLatestPostsButton>
  </ng-container>
</ng-container>
