.m-discovery__feedItem {
  &.m-discovery__feedItem--user {
    padding-bottom: 0;
    @include m-theme() {
      border-bottom: none;
    }

    @media screen and (max-width: $layoutMin3ColWidth) {
      padding-bottom: 0;
    }
  }

  &.m-discovery__feedItem--group {
    a {
      display: flex;
      flex-direction: row;
      align-items: flex-start;
      text-decoration: none;
    }
    h4 > u {
      text-decoration: none;
    }
    .m-discoveryFeedItem__avatar {
      flex-shrink: 0;
      border-radius: 50%;
      background-size: cover;
      @include m-theme() {
        background-color: themed($m-textColor--secondary);
      }
    }
  }
  &.m-discovery__feedItem--user,
  &.m-discovery__feedItem--group {
    .m-discoveryFeedItem__body {
      flex: 1;
      h4 {
        font-size: 16px;
        line-height: 20px;
        margin: 0;
        padding: 0;
        font-weight: 600;
        word-break: break-word;
        @include m-theme() {
          color: themed($m-textColor--primary);
        }
      }
      span {
        font-size: 15px;
        @include m-theme() {
          color: themed($m-textColor--tertiary);
        }
      }
      p {
        padding: 0;
        margin: 0;
        word-break: break-word;
        @include m-theme() {
          color: themed($m-textColor--secondary);
        }
      }
    }
    .m-btn {
      @include m-theme() {
        border-color: themed($m-borderColor--primary);
      }
    }
  }
}
