<a
  (click)="onClick($event)"
  [ngClass]="{ selected: has() }"
  data-ref="data-minds-thumbs-up-button"
  m-clientMeta
>
  <i
    class="material-icons"
    [class.inProgress]="session.getLoggedInUser() && inProgress"
    >thumb_up</i
  >
  <span
    class="minds-counter"
    *ngIf="object['thumbs:up:count'] > 0 && !iconOnly"
    [@counterChange]="object['thumbs:up:count']"
    data-ref="data-minds-thumbs-up-counter"
    >{{ object['thumbs:up:count'] | number }}</span
  >
</a>

<ng-container *ngIf="showFriendlyCaptcha">
  <m-friendlyCaptcha
    (done)="onFriendlyCaptchaComplete($event)"
    [puzzleOrigin]="'vote_up'"
  ></m-friendlyCaptcha>
</ng-container>
