@import 'defaults.scss';

:host {
  a {
    cursor: pointer;
  }

  .inProgress {
    animation: 0.5s gelatine 0.25s;
  }

  @keyframes gelatine {
    from,
    to {
      transform: scale(1, 1);
      animation-timing-function: cubic-bezier(0, 0, 0.58, 1);
      opacity: 1;
    }
    25% {
      transform: scale(0.9, 1.1);
    }
    50% {
      transform: scale(1.1, 0.9);
      opacity: 0.9;
    }
    75% {
      transform: scale(0.95, 1.05);
    }
  }

  m-friendlyCaptcha {
    visibility: hidden;
    display: none;
  }

  m-sizeableLoadingSpinner {
    margin: 0;
    width: initial;
  }
}
