@import 'defaults.scss';
:host {
  $sidePadding: $spacing7;
  $sidePadding--mobile: $spacing5;

  .m-pageLayout__pane--main {
    width: 100%;
  }

  h2 {
    padding: $sidePadding;
    margin: 0;
    @include heading1Medium;
    @include m-theme() {
      color: themed($m-textColor--primary);
    }
    @media screen and (max-width: $max-mobile) {
      @include heading3Bold;
      padding: $sidePadding--mobile;
    }
  }

  ::ng-deep m-findGroupsButtons {
    &.m-groupsMembershipsHeader__findGroupsButtons {
      padding-left: $sidePadding;
      padding-right: $sidePadding;

      @media screen and (max-width: $max-mobile) {
        padding-left: $sidePadding--mobile;
        padding-right: $sidePadding--mobile;
      }
    }
  }

  ::ng-deep m-feedNotice--noGroups {
    @include m-theme() {
      border-top: 1px solid themed($m-borderColor--primary);
    }
    padding: $sidePadding;

    @media screen and (max-width: $max-mobile) {
      padding: $sidePadding--mobile;
    }

    m-feedNotice {
      padding: 0;
    }
  }

  ::ng-deep m-publisherRecommendations {
    &.m-groupsMemberships__publisherRecommendations {
      display: block;

      article {
        padding: $spacing4 $sidePadding $sidePadding;

        @include m-theme() {
          border-top: 1px solid themed($m-borderColor--primary);
        }

        @media screen and (max-width: $max-mobile) {
          padding: $spacing4 $sidePadding--mobile 0;
          @include m-theme() {
            border-top: 5px solid themed($m-borderColor--primary);
          }
        }
      }
    }
  }

  .m-groupsMemberships__list {
    padding: $sidePadding;
    @include m-theme() {
      border-top: 1px solid themed($m-borderColor--primary);
    }
    @media screen and (max-width: $max-mobile) {
      padding: $sidePadding--mobile;
      @include m-theme() {
        border-top: 5px solid themed($m-borderColor--primary);
      }
    }
    ::ng-deep .m-publisherCard {
      display: block;
      margin-bottom: $spacing4;

      .m-publisherCard__subs span {
        padding-right: 2px !important;
      }
    }
  }
}
