<div class="m-pageLayout__container">
  <div
    class="m-pageLayout__pane--main"
    m-pageLayout__pane="main"
    style="position: relative;"
  >
    <div class="m-groupsMemberships">
      <!-- ---------------  -->
      <!-- HEADER -->
      <!-- ---------------  -->
      <h2>Groups</h2>

      <ng-container *ngIf="!inProgress">
        <m-findGroupsButtons
          class="m-groupsMembershipsHeader__findGroupsButtons"
          *ngIf="groups?.length"
        ></m-findGroupsButtons>
        <m-feedNotice--noGroups
          *ngIf="!groups?.length"
        ></m-feedNotice--noGroups>
      </ng-container>
      <!-- ---------------  -->
      <!-- BODY -->
      <!-- ---------------  -->
      <m-publisherRecommendations
        *ngIf="!inProgress"
        class="m-groupsMemberships__publisherRecommendations"
        location="groups-memberships"
        [dismissible]="false"
        publisherType="group"
        [initialListSize]="recommendationsListSize"
      ></m-publisherRecommendations>
      <!-- </div> -->
      <div class="m-groupsMemberships__list" *ngIf="groups && groups.length">
        <m-publisherCard
          *ngFor="let group of groups"
          [publisher]="group"
          [showSubscribeButton]="false"
        >
        </m-publisherCard>
        <infinite-scroll
          (load)="load()"
          [moreData]="this.moreData"
          [inProgress]="this.inProgress"
        ></infinite-scroll>
      </div>

      <!-- ---------------  -->
    </div>
  </div>
  <div class="m-groupsMemberships__sidebar" m-pageLayout__pane="right"></div>
</div>
