<m-feedNotice icon="warning" [dismissible]="false" dataRefId="verify-email">
  <span class="m-feedNotice__title" i18n="FEED_NOTICE__VERIFY_EMAIL__TITLE"
    >Verify your email address</span
  >
  <p class="m-feedNotice__body" i18n="@@FEED_NOTICE__VERIFY_EMAIL__BODY">
    Before getting down to business on Minds, can we please ask that you verify
    your email address. (P.S. Check your spam folder 📥)
  </p>
  <m-button
    class="m-feedNotice__buttonPrimary"
    color="blue"
    solid="true"
    size="small"
    (onAction)="onPrimaryOptionClick($event)"
    data-ref="feed-notice-verify-email-primary-click"
  >
    Verify email
  </m-button>
</m-feedNotice>
