@import 'defaults.scss';

:host {
  display: block;
  position: relative;
  @include z-index(topbar);

  @media screen and (max-width: $min-tablet) {
    m-topbar__walletBalance {
      display: none;
    }
  }
}
