@import 'themes';

m-pro--channel {
  --m-pro--primary-color: #1b85d6;
  --m-pro--plain-background-color: #ffffff;
  --m-pro--transparent-background-color: #ffffffa0;
  --m-pro--more-transparent-background-color: #ffffff50;
  --m-pro--text-color: #000000;
  --m-pro--secondary-text-color: #000000b3;
  --m-pro--border-color: #00000080;
  --m-pro--tile-ratio: 56.25%;

  display: block;
  background: none no-repeat center fixed;
  background-size: cover;
  background-blend-mode: overlay;
  background-color: var(--m-pro--more-transparent-background-color) !important;
  grid-area: content / span 2;

  &.m-pro-channel--plainBackground {
    background-blend-mode: initial;
    background-color: var(--m-pro--plain-background-color) !important;
  }

  @media screen and (min-width: ($max-mobile + 1px)) {
    m-pro__hamburger-menu {
      display: none;
    }

    .m-proChannelList__title {
      display: none;
    }
  }

  minds-textarea {
    // background-color: var(--m-pro--transparent-background-color) !important;
  }

  .m-blog-view m-blog-view.m-blog {
    color: var(--m-pro--text-color);
    background-color: var(--m-pro--transparent-background-color) !important;

    .minds-blog-body > p,
    p,
    a,
    i.material-icons,
    span {
      color: var(--m-pro--text-color);
    }

    m-boostButton > button {
      color: var(--m-pro--primary-color);
      border-color: var(--m-pro--primary-color);
    }

    .blogs-grid {
      background-color: transparent !important;
    }
  }

  &.m-overlay-modal--shown {
    m-overlay-modal {
      position: fixed;
    }
  }

  m-boostButton {
    display: none !important;
  }

  m-modal-signup {
    m-modal {
      .m-modal-container .mdl-card {
        background-color: var(--m-pro--transparent-background-color);
        color: var(--m-pro--text-color);

        .m-modal-signup-apps {
          display: none;
        }
      }
    }
  }
}

.m-overlayModal--unsubscribe {
  width: 600px;

  @media screen and (max-width: 660px) {
    width: 400px;
  }

  @media screen and (max-width: 420px) {
    width: 250px;
  }

  .m-overlay-modal--close {
    display: none;
  }
}

body.hamburger-menu--open {
  overflow: hidden;
}
