@import 'defaults';

m-search--bar {
  width: 200px;

  .mdl-textfield {
    width: 100%;

    .m-searchBar__searchIcon {
      position: absolute;
      margin: 6px;
      font-size: 20px;
    }

    .m-searchBar__cleanIcon {
      position: absolute;
      margin: 6px;
      font-size: 20px;
      right: 0;
      top: 20px;
    }

    input {
      @include m-theme() {
        background-color: themed($m-bgColor--primary);
        border: 1px solid themed($m-borderColor--primary);
        color: themed($m-textColor--primary);
      }
      &::placeholder {
        @include m-theme() {
          color: themed($m-textColor--secondary);
        }
      }
    }

    input,
    label {
      padding: $minds-padding $minds-padding $minds-padding $minds-padding * 4;
      box-sizing: border-box;
    }
  }

  &.m-search--bar--default-sizes {
    @media screen and (max-width: 1080px) {
      width: 180px;
    }

    @media screen and (max-width: $min-desktop) {
      width: 45%;
    }

    @media screen and (max-width: $min-tablet) {
      width: auto;
      max-width: 30%;

      input {
        border: 0 !important;

        &:focus {
          width: 75vw;
          @include m-theme() {
            border: 1px solid rgba(themed($m-black), 0.12) !important;
          }

          & + .mdl-textfield__label {
            width: 75vw;
          }
        }
      }
    }
  }

  //

  .m-search-bar--context {
    display: none;
  }

  .mdl-textfield .mdl-textfield__input {
    height: 32px;
    border-radius: 18px;

    //text-indent: 22px;

    font-family: 'Inter', sans-serif;
    font-size: 14px;
    letter-spacing: 0.16px;
    font-weight: 600;
    //line-height: 38px;

    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
  }

  @media screen and (min-width: 769px) {
    .mdl-textfield.m-search-bar--has-context {
      display: flex;

      .m-search-bar--context {
        display: block;
        flex-grow: 1;
        align-self: center;

        max-width: 25em;
        height: 32px;
        border-radius: 3px;
        padding: 0 0 0 32px;

        font-family: Inter, sans-serif;
        font-size: 12px;
        letter-spacing: 1.25px;
        //line-height: 38px;
        white-space: nowrap;
        text-transform: uppercase;
        border-right: none;
        box-sizing: border-box;

        text-rendering: optimizeLegibility;
        -webkit-font-smoothing: antialiased;
        @include m-theme() {
          border: 1px solid rgba(themed($m-black), 0.12);
          color: rgba(themed($m-grey-800), 0.5);
        }
      }

      .mdl-textfield__input {
        padding: 0 $minds-padding;
        //border-left: none;
        box-sizing: border-box;

        appearance: none;
        @include m-theme() {
          border: 1px solid rgba(themed($m-black), 0.12);
        }
      }
    }
  }
}
