<ng-container [m-clientMeta]="{ source: 'feed/subscribed', medium: 'feed' }">
  <div class="minds-list">
    <m-virtualMinimap *ngIf="isDev" [scroll]="scroll"></m-virtualMinimap>
    <!--actual feed-->
    <virtual-scroller
      #scroll
      [bufferAmount]="10"
      [items]="feedItems$ | async"
      [parentScroll]="scroll.window"
      [enableUnequalChildrenSizes]="true"
      [modifyOverflowStyleOfParentScroll]="false"
      [compareItems]="compareItems"
      [ssrChildHeight]="530"
      (vsChange)="loadNextThrottler.next($event)"
      [scrollAnimationTime]="0"
      [resizeBypassRefreshThreshold]="10"
      [useMarginInsteadOfTranslate]="true"
    >
      <div #container>
        <m-feedItem
          [feedItem]="feedItem"
          *ngFor="
            let feedItem of scroll.viewPortItems;
            let i = index;
            trackBy: feedItemTrackBy
          "
        >
          <ng-container [ngSwitch]="feedItem.type">
            <ng-container *ngSwitchCase="'activity'">
              <m-activity
                *ngIf="feedItem.data.activity$ | async as activity"
                [entity]="activity"
                [displayOptions]="{
                  showOnlyCommentsInput: true,
                  isFeed: true
                }"
                [slot]="feedItem.data.slot"
                (deleted)="delete(activity)"
                #feedViewChildren
              ></m-activity>
            </ng-container>
            <ng-container *ngSwitchCase="'feedNotice'">
              <m-feedNotice__outlet location="inline"></m-feedNotice__outlet>
            </ng-container>
            <ng-container *ngSwitchCase="'featuredContent'">
              <m-featured-content
                [slot]="feedItem.data"
                [displayOptions]="{
                  showOnlyCommentsInput: true,
                  isFeed: true
                }"
              ></m-featured-content>
            </ng-container>

            <ng-container *ngSwitchCase="'topHighlights'">
              <m-topHighlights
                (onSeeMore)="onShowMoreTopFeed()"
                *ngIf="!(isTopHighlightsDismissed$ | async)"
              ></m-topHighlights>
            </ng-container>
            <ng-container *ngSwitchCase="'publisherRecommendations'">
              <m-publisherRecommendations
                location="newsfeed"
                [dismissible]="true"
                *ngIf="!(isPublisherRecommendationsDismissed$ | async)"
                [publisherType]="recommendationsPublisherType"
              ></m-publisherRecommendations>
            </ng-container>
          </ng-container>
        </m-feedItem>
      </div>

      <infinite-scroll
        (load)="loadNext()"
        [enabled]="false"
        [moreData]="feedService.hasMore | async"
        [inProgress]="feedService.inProgress | async"
      >
      </infinite-scroll>
    </virtual-scroller>
  </div>
</ng-container>

<ng-container *mIfBrowser>
  <m-seeLatestPostsButton
    [feedService]="feedService"
    (click)="scrollToUnderBoostRotator()"
  ></m-seeLatestPostsButton>
</ng-container>

<div
  class="m-virtualScrollOverlay"
  *ngIf="shouldRestoreScroll"
  [style.opacity]="(isScrollRestored$ | async) ? 0 : 1"
  [style.height.px]="
    scroll?.wrapGroupDimensions?.sumOfKnownWrapGroupChildHeights
  "
></div>
