@import 'defaults.scss';

:host {
  header {
    flex-direction: row;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: $spacing4;
    padding-left: $spacing4;
    padding-right: $spacing4;
    @include borderTop;
  }

  ul {
    padding: 0;
    margin: 0;

    li {
      list-style: none;
      &:first-child {
        ::ng-deep m-activity {
          @include m-theme() {
            border-top: none;
          }
        }
      }

      &:last-child m-activity {
        margin-bottom: $minds-margin !important;
      }
    }
  }

  .m-topHighlights__title {
    font-size: 20px;
    font-weight: bold;
    margin-top: 0;
    margin-bottom: 0;
  }

  .m-topHighlights__showMore__container {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    margin: 0 0 $spacing2;

    ::ng-deep {
      m-loadingSpinner {
        width: unset;
        margin: unset;

        .m-loadingSpinner__wrapper {
          padding: 0;
          top: -1px;

          .m-loadingSpinner__container {
            width: 25px;
            height: 25px;
          }
        }
      }
      m-icon i {
        @include m-theme() {
          color: themed($m-textColor--secondary);
        }
      }
    }

    .m-topHighlights__showMore__link {
      padding: $minds-padding;
      padding-right: $spacing6;
      text-decoration: none;
      cursor: pointer;
      border-radius: $m-borderRadius;
      transition: color 0.3s;
      font-size: 16px;

      @include m-theme() {
        color: themed($m-link-text) !important;
      }

      &:hover {
        @include m-theme() {
          color: themed($m-link-text-contrast) !important;
        }
      }
    }
  }
}
