<div
  class="m-boostModalFooter__descriptionTextOuterContainer"
  [ngSwitch]="activePanel$ | async"
  data-ref="boost-modal-v2-footer-description-container"
>
  <div
    *ngSwitchCase="BoostModalPanel.BUDGET"
    class="m-boostModalFooter__descriptionTextInnerContainer"
  >
    <span i18n="@@BOOST_MODAL_V2_FOOTER__ESTIMATED_REACH_DISCLAIMER"
      >Estimated reach is approximate and can fluctuate based on network
      demand.</span
    >
  </div>
  <div
    *ngSwitchCase="BoostModalPanel.REVIEW"
    class="m-boostModalFooter__descriptionTextInnerContainer"
  >
    <ng-container *ngIf="(entityType$ | async) === BoostSubject.POST">
      <ng-container
        [ngTemplateOutlet]="reviewPanelFooter"
        [ngTemplateOutletContext]="{
          boostSubject: 'post'
        }"
      ></ng-container
    ></ng-container>
    <ng-container *ngIf="(entityType$ | async) === BoostSubject.CHANNEL">
      <ng-container
        [ngTemplateOutlet]="reviewPanelFooter"
        [ngTemplateOutletContext]="{
          boostSubject: 'channel'
        }"
      ></ng-container
    ></ng-container>
  </div>
</div>
<div class="m-boostModalFooter__submitButtonContainer">
  <m-button
    size="small"
    color="blue"
    [solid]="true"
    [saving]="boostSubmissionInProgress$ | async"
    [disabled]="disableSubmitButton$ | async"
    (onAction)="onButtonClick($event)"
    data-ref="boost-modal-v2-footer-next-button"
  >
    <ng-container [ngSwitch]="activePanel$ | async">
      <ng-container *ngSwitchCase="BoostModalPanel.REVIEW">
        <ng-container
          *ngIf="(entityType$ | async) === BoostSubject.POST"
          i18n="@@BOOST_MODAL_V2_FOOTER__BOOST_POST_ACTION"
          >Boost post</ng-container
        >
        <ng-container
          *ngIf="(entityType$ | async) === BoostSubject.CHANNEL"
          i18n="@@BOOST_MODAL_V2_FOOTER__BOOST_CHANNEL_ACTION"
          >Boost channel</ng-container
        >
      </ng-container>
      <ng-container *ngSwitchDefault i18n="@@BOOST_MODAL_V2_FOOTER__NEXT_ACTION"
        >Next</ng-container
      >
    </ng-container>
  </m-button>
</div>

<!-- ------------------------ -->
<!-- FOOTER TEMPLATE  -->
<!-- ------------------------ -->
<ng-template #reviewPanelFooter let-boostSubject="boostSubject"
  ><span i18n="@@BOOST_MODAL_V2_FOOTER__ONCE_APPROVED">
    By clicking Boost {{ boostSubject }}, you agree to Minds'
    <a href="/content-policy" target="_blank">Content Policy</a> and
    <a href="/p/terms" target="_blank">Refund Policy</a>.</span
  ></ng-template
>
