<div class="m-marketing">
  <div class="m-marketing__header">
    <h1 i18n="@@MOBILE__MARKETING__TITLE">Minds Mobile Applications</h1>
  </div>

  <div class="m-marketing__group">
    <h2 i18n="@@MOBILE__MARKETING__ANDROID__TITLE">Android</h2>
    <p i18n="@@MOBILE__MARKETING__ANDROID__INTRO">
      For the best experience, download the mobile app directly from Minds. All
      content is accessible. Make sure your phone's software version is within
      the last 3 latest android versions and you update your phone settings to
      "allow installation of apps from unknown sources." NSFW content is not
      currently accessible on Google Play due to their terms of service.
    </p>

    <div class="m-marketing__grid">
      <div class="m-marketing__gridItem">
        <div class="m-marketing__gridItemTitle">
          Minds
        </div>
        <div class="m-marketing__gridItemImage">
          <img
            src="{{ cdnAssetsUrl }}assets/marketing/mobile/android-minds.png"
            height="500"
          />
        </div>

        <div class="m-marketing__gridItemActions">
          <a [href]="latestRelease.href" target="_blank"
            ><img
              src="{{ cdnAssetsUrl }}assets/marketing/mobile/download-minds.svg"
              height="40"
          /></a>
          <a
            href="https://play.google.com/store/apps/details?id=com.minds.mobile&pcampaignid=MKT-Other-global-all-co-prtnr-py-PartBadge-Mar2515-1"
            target="_blank"
            ><img
              src="{{ cdnAssetsUrl }}assets/marketing/mobile/google-play.svg"
              height="40"
          /></a>
          <i (click)="toggleReleases()" class="material-icons">
            history
          </i>
        </div>
      </div>

      <div class="m-marketing__gridItem">
        <div class="m-marketing__gridItemTitle">
          Minds Chat
        </div>
        <div class="m-marketing__gridItemImage">
          <img
            src="{{ cdnAssetsUrl }}assets/marketing/mobile/android-chat.png"
            height="500"
            alt=""
          />
        </div>

        <div class="m-marketing__gridItemActions">
          <a
            href="https://minds-repo.s3.amazonaws.com/android/MindsChat-1_1_6.apk"
            target="_blank"
            ><img
              src="{{ cdnAssetsUrl }}assets/marketing/mobile/download-minds.svg"
              height="40"
          /></a>
          <a
            href="https://play.google.com/store/apps/details?id=com.minds.chat"
            target="_blank"
            ><img
              src="{{ cdnAssetsUrl }}assets/marketing/mobile/google-play.svg"
              height="40"
          /></a>
        </div>
      </div>
    </div>
  </div>

  <div class="m-marketing__group" *ngIf="releases.length > 0 && showReleases">
    <h2>
      Release History
    </h2>
    <m-loadingSpinner [inProgress]="inProgress"></m-loadingSpinner>

    <div *ngFor="let release of releases; let first = first">
      <h3>
        <ng-container *ngIf="release.latest">Latest - </ng-container>
        <ng-container *ngIf="release.unstable">Canary - </ng-container>
        {{ release.version }} -
        <a [href]="release.href" target="_blank">Download</a>
      </h3>
      <p class="m-aux__mobile__showMobile" *ngIf="first">
        (Tap and hold the download link)
      </p>

      <p *ngIf="release.unstable" class="m-aux__mobile__canaryNote">
        Disclaimer: This is a Canary version of the app targeted to test users.
        It might contain bugs or unfinished features. Use at your own risk.
      </p>

      <ul class="m-aux__mobile__changes" *ngIf="release.changelog">
        <li *ngFor="let entry of release.changelog">{{ entry }}</li>
      </ul>

      <ul class="m-aux__mobile__hashes" *ngIf="release.hashes">
        <li *ngFor="let hash of release.hashes">
          {{ hash.type | uppercase }}: {{ hash.value }}
        </li>
      </ul>
    </div>
  </div>

  <div class="m-marketing__group">
    <h2 i18n="@@MOBILE__MARKETING__APPLE__TITLE">Apple</h2>
    <p i18n="@@MOBILE__MARKETING__APPLE__INTRO">
      iPhone users may only download the mobile app directly from the iOS App
      Store. NSFW content is not currently accessible on iOS App Store due to
      their terms of service.
    </p>

    <div class="m-marketing__grid">
      <div class="m-marketing__gridItem">
        <div class="m-marketing__gridItemTitle">
          Minds
        </div>
        <div class="m-marketing__gridItemImage">
          <img
            src="{{ cdnAssetsUrl }}assets/marketing/mobile/ios-minds.png"
            height="500"
            alt="Minds Newsfeed - iOS"
          />
        </div>

        <div class="m-marketing__gridItemActions">
          <a
            href="https://geo.itunes.apple.com/us/app/minds-com/id961771928?mt=8&amp;uo=6"
            target="_blank"
            ><img
              src="{{ cdnAssetsUrl }}assets/marketing/mobile/app-store.svg"
              height="40"
          /></a>
        </div>
      </div>

      <div class="m-marketing__gridItem">
        <div class="m-marketing__gridItemTitle">
          Minds Chat
        </div>
        <div class="m-marketing__gridItemImage">
          <img
            src="{{ cdnAssetsUrl }}assets/marketing/mobile/ios-chat.png"
            height="500"
            alt="Minds Discovery - iOS"
          />
        </div>

        <div class="m-marketing__gridItemActions">
          <a
            href="https://apps.apple.com/us/app/minds-chat/id1562887434"
            target="_blank"
            ><img
              src="{{ cdnAssetsUrl }}assets/marketing/mobile/app-store.svg"
              height="40"
          /></a>
        </div>
      </div>
    </div>
  </div>
</div>

<m-marketing__footer></m-marketing__footer>
