<div class="m-pageLayout__container">
  <div class="m-pageLayout__pane--main">
    <h3 i18n="@@SUPERMIND_CONSOLE__SUPERMIND_TITLE">Supermind</h3>
    <div class="m-tabs__container" *ngIf="!(isSingleSupermindPage$ | async)">
      <div class="m-tabs__tab">
        <a
          [routerLink]="['/supermind/inbox']"
          [class.m-tabs__tab--selected]="(listType$ | async) === 'inbox'"
          data-ref="supermind-console-tab-inbound"
          i18n="@@SUPERMIND_CONSOLE__TAB_INBOUND"
          >Inbound</a
        >
      </div>
      <div class="m-tabs__tab">
        <a
          [routerLink]="['/supermind/outbox']"
          [class.m-tabs__tab--selected]="(listType$ | async) === 'outbox'"
          data-ref="supermind-console-tab-outbound"
          i18n="@@SUPERMIND_CONSOLE__TAB_INBOUND"
          >Outbound</a
        >
      </div>

      <div class="m-layout__spacer"></div>
      <m-tooltip
        class="m-discovery__settingsButton"
        icon="settings"
        iconClass="m-supermindConsole__settingsButtonIcon"
        data-ref="supermind-console-settings-button"
        (click)="onSettingsButtonClick($event)"
      >
        <ng-container i18n="@@SUPERMIND_CONSOLE__SETTINGS_TOOLTIP">
          Settings
        </ng-container>
      </m-tooltip>
    </div>
    <div
      class="m-supermindConsole__singleSupermindGoBack"
      *ngIf="isSingleSupermindPage$ | async"
      (click)="onBackClick()"
      data-ref="supermind-console-single-supermind-go-back"
    >
      <i class="material-icons">arrow_back</i>
      <span i18n="@@SUPERMIND_CONSOLE__SETTINGS_BACK_TO_CONSOLE"
        >Back to console</span
      >
    </div>
    <m-addBankPrompt *ngIf="(listType$ | async) === 'inbox'"></m-addBankPrompt>
    <router-outlet></router-outlet>
  </div>
  <div class="m-pageLayout__pane--right"><!-- Spacer --></div>
</div>
