//** FOOTER -----------------------------------------

@media screen and (max-width: $m-grid-max-mobile) {
  m-body m-register,
  m-body m-login {
    margin-bottom: 50;
    .m-marketing__footer {
      padding-top: 0px;
      padding-bottom: 32px;
      .m-marketingFooter__column {
        margin: 0 0 32px 0;
      }
    }
  }
}

m-body m-register,
m-body m-login {
  @include m-theme() {
    background: themed($m-bgColor--primary);
  }
  margin-bottom: 0;

  m-marketing__footer {
    margin-bottom: 0;
    @include m-theme() {
      background: themed($m-bgColor--primary);
    }
    .m-marketing__footer {
      padding-top: 0px;
      padding-bottom: 32px;
      @include m-theme() {
        border: none;
      }
      @media screen and (max-width: $max-mobile) {
        padding-bottom: 80px;
      }

      .m-marketing__sep {
        display: none;
      }

      .m-marketingFooter__languageBar {
        margin-bottom: 42px;
      }
    }

    .m-grid.m-marketingFooter__columns:last-child > * {
      margin: 0;

      .m-marketingFooter__legalLinks {
        text-align: start;
        padding-right: 0;
      }

      @media screen and (max-width: $m-grid-min-vp) {
        text-align: left;
        padding-right: 0;
        padding-left: 32px;
      }
      @media screen and (max-width: $m-grid-max-mobile) {
        padding-left: 0px;
      }
    }
  }
}
