@import 'defaults.scss';
@import '../../foundation/grid-values.scss';

:host {
  display: block;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  position: relative;
  grid-area: content / span 2;

  margin-top: -75px;

  &.m-login__iosFallback {
    .m-grid {
      .m-login__wrapper {
        filter: none;
        box-shadow: -1px 0px 8px rgba(50, 50, 0, 0.5);

        m-loginForm {
          clip-path: none;
        }
      }
    }
  }

  &::before {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    bottom: 50%;
    left: 30%;
    clip-path: polygon(55% 0, 100% 0, 100% 11%, 18% 87%);

    @include m-theme() {
      background: themed($m-amber-medium);
    }

    //@media screen and (max-width: $max-mobile) {
    //  right: 0;
    //  bottom: -3vw;
    //  clip-path: polygon(83% 0%, 100% 0, 116% 22%, 30% 43%);
    //}
  }

  @media screen and (max-width: $m-grid-max-mobile) {
    margin: -52px 0 50px;
    padding: 0 26px;
    &::before {
      position: absolute;
      top: 0;
      right: 0;
      clip-path: polygon(55% 0, 100% 0, 100% 30%, 18% 87%);
      background: url(http://localhost/en/assets/marketing/deco_2-straight.svg)
        no-repeat;
    }
  }

  .m-grid {
    position: relative;
    padding: 15vh 0 0;

    @media screen and (max-width: $m-grid-max-mobile) {
      padding: 10vh 0 0;
    }

    & > * {
      margin: 0 auto;
    }
  }

  .m-login__wrapper {
    display: block;
    max-width: 692px;
    filter: drop-shadow(-1px 0px 8px rgba(50, 50, 0, 0.5));
  }

  ::ng-deep m-loginForm {
    display: block;

    @include m-theme() {
      background-color: themed($m-bgColor--secondary);
    }

    padding: 80px 60px;

    clip-path: polygon(0 2%, 100% 0, 100% 97%, 0 95%);

    @media screen and (max-width: $m-grid-max-mobile) {
      clip-path: polygon(0 2%, 100% 0, 100% 100%, 0 99%);
      padding: 55px 26px 47px;

      h3,
      .m-register__alreadyAUser {
        text-align: center;
      }

      .mdl-card__actions {
        margin-top: 35px;

        label.mdl-checkbox {
          margin-bottom: 50px;
        }
      }
    }

    h3 {
      font-size: 36px;
      line-height: 48px;
      font-weight: bold;
      margin-right: 20px;

      @include m-theme() {
        color: themed($m-grey-800);
      }
    }

    form {
      background: transparent !important;
      overflow: visible;

      .mdl-card__supporting-text {
        overflow: visible;
      }

      &.m-loginBox__bigButton {
        .m-login__actions {
          display: flex;
          align-items: center;
          flex-direction: row;
          justify-content: space-between;

          .m-login__formError {
            margin-right: 20%;
          }

          ::ng-deep {
            m-button {
              flex-shrink: 0;
            }
          }

          button {
            width: 132px;
          }
        }
      }

      ::ng-deep m-button {
        button {
          width: 132px;
        }
      }
    }

    a {
      @include m-theme() {
        color: themed($m-link-text);
      }

      &.m-login__joinTheConversation {
        font-size: 14px;
        line-height: 20px;
        text-decoration: underline;
        cursor: pointer;
      }
    }

    .m-login__actions {
      flex-direction: column;
      align-items: flex-start;
      margin-top: 55px;
      padding: 0;

      & > *:not(button):not(.m-login__formError) {
        color: #4a4a4a !important;
      }

      button {
        align-self: flex-end;
      }
    }
  }
}
