@import 'defaults.scss';
@import '../../foundation/grid-values.scss';

:host {
  display: block;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  position: relative;
  grid-area: content / span 2;

  margin-top: -75px;

  &.m-register__iosFallback {
    .m-grid {
      .m-register__wrapper {
        filter: none;
        box-shadow: -1px 0px 8px rgba(50, 50, 0, 0.5);

        m-registerForm {
          clip-path: none;
        }
      }
    }
  }

  ::ng-deep m-button {
    min-width: 0 !important;
    align-self: flex-end;
    @media screen and (max-width: $max-mobile) {
      align-self: stretch;
    }
    button {
      width: 195px;

      @media screen and (max-width: $max-mobile) {
        width: 100%;
      }
    }
  }
  &::before {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    bottom: 50%;
    left: 30%;
    clip-path: polygon(55% 0, 100% 0, 100% 11%, 18% 87%);

    @include m-theme() {
      background: themed($m-amber-medium);
    }

    //@media screen and (max-width: $max-mobile) {
    //  right: 0;
    //  bottom: -3vw;
    //  clip-path: polygon(83% 0%, 100% 0, 116% 22%, 30% 43%);
    //}
  }

  @media screen and (max-width: $m-grid-max-mobile) {
    margin: -52px 0 50px;
    padding: 0 26px;

    &::before {
      position: absolute;
      top: 0;
      right: 0;
      clip-path: polygon(55% 0, 100% 0, 100% 30%, 18% 87%);
    }
  }

  .m-grid {
    position: relative;
    padding: 15vh 0 0;

    @media screen and (max-width: $m-grid-max-mobile) {
      padding: 10vh 0 0;
    }

    & > * {
      margin: 0 auto;
    }
  }

  .m-register__wrapper {
    display: block;
    max-width: 692px;
    filter: drop-shadow(-1px 0px 8px rgba(50, 50, 0, 0.5));
  }

  ::ng-deep m-registerForm {
    padding: 86px 67px 150px;
    display: block;

    @include m-theme() {
      background-color: themed($m-bgColor--secondary);
    }

    @media screen and (max-width: $m-grid-max-mobile) {
      clip-path: polygon(0 2%, 100% 0, 100% 100%, 0 99%);
      padding: 55px 26px 47px;

      h3,
      .m-register__alreadyAUser {
        text-align: center;
      }

      .mdl-card__actions {
        margin-top: 35px;

        label.mdl-checkbox {
          margin-bottom: 50px;
        }
      }
    }

    clip-path: polygon(0 2%, 100% 0, 100% 97%, 0 95%);

    h3 {
      font-size: 36px;
      line-height: 36px;
      font-weight: bold;
      margin-bottom: 4px;

      @include m-theme() {
        color: themed($m-grey-800);
      }
    }

    .m-register__alreadyAUser {
      display: block;
      font-size: 14px;
      line-height: 19px;
      margin-bottom: 30px;
      font-weight: 400;
      color: #9b9b9b;

      a {
        font-weight: 400;
        @include m-theme() {
          color: themed($m-link-text);
        }
      }
    }

    .mdl-cell {
      margin: 0;
      padding-bottom: 6px;
    }

    form {
      background: transparent !important;

      .mdl-card__supporting-text {
        overflow: visible;
      }

      .mdl-cell {
        width: 100%;
      }

      .m-registerForm__confirmPassword {
        margin-top: 19px;
      }

      input:not([type='checkbox']) {
        padding: 10px 15px;
        height: 37px;
        font-weight: normal;

        @include m-theme() {
          color: themed($m-grey-800);
        }

        &:active,
        &:focus {
          outline: none;
          @include m-theme() {
            border: 1px solid themed($m-blue);
          }
        }

        &.ng-invalid.ng-touched:not(.ng-pristine) {
          outline: none;
          @include m-theme() {
            border: 1px solid themed($m-red);
          }
        }
      }
    }

    .m-register__actions {
      flex-direction: row;
      align-items: center;
      justify-content: space-between;
      margin-top: 55px;
      padding: 0;

      & > *:not(button) {
        color: #4a4a4a !important;
      }

      a,
      a:hover,
      a:visited {
        font-weight: 400;
        @include m-theme() {
          color: themed($m-blue);
        }
      }

      button {
        align-self: flex-end;
      }
    }
  }
}

.m-footer {
  padding: 28px;
  min-height: 150px;
  position: relative;
  @include m-theme() {
    background-color: themed($m-bgColor--primary);
  }

  .copyright {
    display: block;
    padding: 16px 0;
    width: 100%;
    text-align: center;
    font-size: 11px;
    font-weight: bold;
  }
}
