@import 'defaults.scss';

:host {
  display: contents;

  .m-modalV2__inner {
    @media screen and (max-width: $max-mobile) {
      flex: unset;
    }
  }

  .m-modalV2__header {
    position: relative;
    display: flex;
    flex-flow: row nowrap;
    align-items: center;

    h2 {
      text-transform: capitalize;
      padding-left: 8px;
      @include m-theme() {
        color: themed($m-textColor--primary);
      }
    }

    .m-modalV2__headerLogoBulb {
      height: 40px;
    }
  }

  .m-modalV2__body {
    max-height: unset;
    overflow-y: unset;
  }

  .m-authModal__orDivider {
    display: inline-flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
    padding: 10px 0;
    box-sizing: border-box;

    span:not(.m-authModalOrDivider__text) {
      flex: 1;
      @include m-theme() {
        border-bottom: 2px solid themed($m-borderColor--primary);
      }
    }
    .m-authModalOrDivider__text {
      padding: 0 20px;
      font-size: 15px;
      font-weight: 600;
    }
  }

  .m-authModal__alt {
    text-align: center;
    font-size: 15px;
    padding: 10px 0;
    box-sizing: border-box;

    @include m-theme() {
      color: themed($m-textColor--tertiary);
    }
    > a {
      text-decoration: underline;
      cursor: pointer;
      @include m-theme() {
        color: themed($m-link-text);
      }
    }
  }

  ::ng-deep {
    .m-login-box {
      margin-top: 0;

      .m-layout__row {
        align-items: center;
      }

      [class*='m-form__field--'] {
        margin-bottom: 15px;
      }

      .m-form__row--label {
        margin-bottom: 10px;
      }
    }

    m-modalCloseButton {
      a {
        @include m-theme() {
          background-color: rgba(themed($m-borderColor--primary), 0.025);
          color: themed($m-textColor--primary);
        }

        &:hover {
          @include m-theme() {
            background-color: rgba(themed($m-borderColor--primary), 0.05);
          }
        }
      }
    }

    @media screen and (max-width: $max-mobile) {
      .m-register__actions {
        m-button {
          margin-top: 10px;
          min-width: unset;
        }
      }
    }
  }
}
