<div class="m-pageLayout__container">
  <div class="m-pageLayout__pane--main">
    <div class="m-boostConsole__pageTitleRow">
      <h3>Boost</h3>
      <div class="m-layout__spacer"></div>
      <m-tooltip
        icon="settings"
        class="m-boostConsole__settingsButton--mobile"
        iconClass="m-boostConsole__settingsButtonIcon--mobile"
        data-ref="boost-console-settings-button"
        (click)="onSettingsButtonClick($event)"
      >
        <ng-container i18n="@@COMMON__SETTINGS">
          Settings
        </ng-container>
      </m-tooltip>
    </div>
    <ng-container *ngIf="!singleBoostGuid">
      <m-boostConsole__list></m-boostConsole__list>
    </ng-container>
    <ng-container *ngIf="singleBoostGuid">
      <m-boostConsole__single></m-boostConsole__single>
    </ng-container>
  </div>
  <div class="m-pageLayout__pane--right"><!-- Spacer --></div>
</div>
