<div
  class="m-contentSettings"
  [ngClass]="{ 'm-contentSettings--isOnboarding': isOnboarding }"
>
  <div class="m-contentSettings__section--title">
    <span class="m-contentSettings__title"
      ><ng-template #standardTitle i18n="@@CONTENT_SETTINGS__TITLE"
        >Content Settings</ng-template
      >
      <ng-container
        *ngIf="isOnboarding && activeTab === 'tags'; else standardTitle"
        i18n="@@COMMON__HASHTAGS"
        >Hashtags</ng-container
      ></span
    >
  </div>
  <div class="m-contentSettings__section--tabs" *ngIf="!isOnboarding">
    <div class="m-tabs__container">
      <div class="m-tabs__tab">
        <a
          [ngClass]="{ 'm-tabs__tab--selected': activeTab === 'tags' }"
          (click)="service.activeTab$.next('tags')"
          data-ref="content-settings-modal-tab-tags"
          >Tags</a
        >
      </div>
      <div class="m-tabs__tab" *ngIf="!hideCompass">
        <a
          [ngClass]="{ 'm-tabs__tab--selected': activeTab === 'compass' }"
          (click)="service.activeTab$.next('compass')"
          data-ref="content-settings-modal-tab-compass"
          >Compass</a
        >
      </div>
      <!-- <div class="m-tabs__tab">
        <a
          [ngClass]="{ 'm-tabs__tab--selected': activeTab === 'nsfw' }"
          (click)="service.activeTab$.next('nsfw')"
          data-ref="content-settings-modal-tab-nsfw"
          >NSFW</a
        >
      </div> -->
    </div>
  </div>
  <div class="m-contentSettings__main">
    <!-- ----------------------------------------- -->
    <!-- SUBTITLE -->
    <!-- ----------------------------------------- -->
    <div class="m-contentSettings__section--subtitle">
      <span class="m-contentSettings__subtitle">
        <ng-container *ngIf="activeTab === 'tags'"
          ><ng-container
            *ngIf="!isOnboarding"
            i18n="@@M__CONTENT_SETTINGS_MODAL__SUBTITLE__TAGS"
            >The tags you select will allow us to recommend content relevant to
            your areas of interest</ng-container
          >
          <ng-container
            *ngIf="isOnboarding"
            i18n="@@M__CONTENT_SETTINGS_MODAL__SUBTITLE__ONBOARDING_TAGS"
            >Select at least 3 tags that are of interest to you. This helps us
            recommend relevant content.</ng-container
          ></ng-container
        >
        <ng-container
          *ngIf="activeTab === 'compass'"
          i18n="@@M__CONTENT_SETTINGS_MODAL__SUBTITLE__COMPASS"
          >The Compass allows Minds to best recommend content and channels. Find
          out more.</ng-container
        >
        <!-- <ng-container
        *ngIf="activeTab === 'nsfw'"
        i18n="@@M__CONTENT_SETTINGS_MODAL__SUBTITLE__NSFW"
        >Control how NSFW content is displayed in your newsfeed</ng-container
      > -->
      </span>
    </div>

    <!-- ----------------------------------------- -->
    <!-- FORM -->
    <!-- ----------------------------------------- -->
    <div
      class="m-contentSettings__formWrapper"
      [ngClass]="{
        'm-contentSettings__section--formWrapper': activeTab !== 'tags'
      }"
    >
      <m-tagSettings *ngIf="activeTab === 'tags'"></m-tagSettings>
      <m-compassForm *ngIf="activeTab === 'compass'"></m-compassForm>
      <!-- <m-nsfwSettings__form *ngIf="activeTab === 'nsfw'"></m-nsfwSettings__form> -->
    </div>
  </div>
  <!-- ----------------------------------------- -->
  <!-- FORM SUBMISSION -->
  <!-- ----------------------------------------- -->
  <div class="m-contentSettings__section--toolbar">
    <m-button
      *ngIf="activeTab === 'tags'"
      color="blue"
      (onAction)="submit()"
      [solid]="isOnboarding"
      [disabled]="
        !(discoveryTagsService.tagsChanged$ | async) ||
        (isOnboarding && (discoveryTagsService.tagCount$ | async) < 3)
      "
      [saving]="discoveryTagsService.saving$ | async"
      data-ref="content-settings-modal-tags-submit-button"
    >
      <ng-container *ngIf="!isOnboarding" i18n="@@COMMON__SAVE"
        >Save</ng-container
      >
      <ng-container *ngIf="isOnboarding" i18n="@@COMMON__CONTINUE"
        >Continue</ng-container
      >
    </m-button>
    <m-button *ngIf="activeTab === 'compass'" color="blue" (onAction)="submit()"
      >Save</m-button
    >
  </div>
</div>
<!-- ----------------------------------------- -->
<!-- MODAL CLOSE -->
<!-- ----------------------------------------- -->
<m-modalCloseButton *ngIf="!isOnboarding"></m-modalCloseButton>
