<label class="m-formInput__checkbox" [for]="id">
  <input
    type="checkbox"
    [ngModel]="value"
    (ngModelChange)="updateValue($event)"
    [id]="id"
    [disabled]="disabled"
  />
  <div class="m-formInputCheckbox__visibleWrapper">
    <span
      class="m-formInputCheckbox__custom"
      [ngClass]="{
        'm-formInputCheckbox__custom--disabled': disabled
      }"
    ></span>
    <span class="m-formInputCheckbox__customLabel">
      <ng-content></ng-content
    ></span>
  </div>
</label>
