@import 'defaults.scss';

:host {
  display: flex;
  flex-flow: column nowrap;
  height: 100%;
  padding-top: $spacing4;
  padding-bottom: $spacing4;

  @include m-theme() {
    border-bottom: 1px solid themed($m-borderColor--primary);
  }

  .m-boostConsole__listItem__topBar,
  .m-boostConsole__listItem__bottomBar,
  .m-boostConsole__listItem__boostUnavailable,
  ::ng-deep m-publisherCard.m-boostConsole__listItem__middleBar {
    padding-left: $activitySpacingLeft--feed;
    padding-right: $activitySpacingRight--feed;

    @media screen and (max-width: $max-mobile) {
      padding-left: $spacing4;
      padding-right: $spacing4;
    }
  }

  .m-boostConsole__listItem__topBar {
    display: flex;
    justify-content: space-between;

    .m-boostConsole__listItem__topBarLeft {
      > * + * {
        padding-left: $spacing2;
      }

      ::ng-deep m-chipBadge {
        @include m-theme() {
          background: themed($m-blue);
        }
      }
    }

    .m-boostConsole__listItem__topBarHref {
      display: flex;
      align-items: center;
      padding-right: calc($spacing1 + ($spacing1 / 2));

      @include body3Regular;

      @include m-theme() {
        color: themed($m-blue);
      }

      &:hover {
        @include m-theme() {
          color: themed($m-blue--contrast);
        }
      }
    }
  }

  .m-boostConsole__listItem__bottomBar {
    display: flex;
    flex-flow: column nowrap;
  }

  .m-boostConsole__listItem__boostUnavailable {
    padding-top: $spacing1;
    padding-bottom: $spacing5;

    @include m-theme() {
      color: themed($m-textColor--secondary);
    }
    span:first-child {
      @include body2Bold;
      padding-bottom: $spacing1;
    }
    span {
      display: block;
      @include body2Regular;
    }
  }

  ::ng-deep m-activity {
    &.m-boostConsole__listItem__middleBar {
      border-top: 0 !important;
      padding-bottom: $spacing4;

      .m-activityBoostCta__wrapper {
        padding-top: $spacing6;
        padding-bottom: $spacing2;
      }
    }
  }
  ::ng-deep m-publisherCard {
    &.m-boostConsole__listItem__middleBar {
      padding-bottom: $spacing4;
      .m-publisherCard {
        border: none !important;
        padding: $spacing4 0 0 !important;

        .m-publisherCard__ownerRow
          .m-publisherCardOwnerRow__owner
          .m-publisherCardOwnerRowItem__name {
          @include body1Bold;
          font-weight: 700 !important;
        }
      }
    }
  }
}
