m-toggle {
  position: relative;
  display: inline-block;
  width: 27px;
  height: 19px;
  margin: 0 0.35em;
  cursor: pointer;
  user-select: none;

  .m-toggle__track {
    display: inline-block;
    position: absolute;
    top: 50%;
    left: 0;
    right: 0;
    height: 10px;
    z-index: 1;
    transform: translateY(-50%);
    border-radius: 6px;

    @include m-theme() {
      background: themed($m-textColor--secondary);
    }
  }

  .m-toggle__switch {
    display: inline-block;
    position: absolute;
    top: 0;
    left: 0;
    width: 19px;
    height: 19px;
    z-index: 2;
    border-radius: 50%;
    transition: all 0.3s;

    @include m-theme() {
      background: themed($m-grey-100);
      box-shadow: 1px 1px 1px -1px rgba(themed($m-black), 0.3);
    }

    &.m-toggle__switch--left,
    &.m-toggle__switch--right {
      transform: none;

      @include m-theme() {
        background: themed($m-blue);
      }

      &:hover {
        @include m-theme() {
          background: themed($m-blue--contrast);
        }
      }
    }

    &.m-toggle__switch--off {
      @include m-theme() {
        background: themed($m-textColor--tertiary) !important;
      }
    }

    &.m-toggle__switch--right {
      transform: translateX(50%);
    }
  }

  &.disabled {
    .m-toggle__switch {
      @include m-theme() {
        background: themed($m-textColor--tertiary);
        color: themed($m-borderColor--secondary);
      }
    }
  }
}
