<div
  class="m-composer__base"
  [class.m-composer__base--withPreview]="
    (attachmentPreviews$ | async)?.length > 0 || (richEmbedPreview$ | async)
  "
  [class.m-composer__base--small]="isCompactMode$ | async"
  m-dragAndDrop
  (onFileDropped)="onAttachmentPaste($event)"
  [disabled]="(remind$ | async) ? true : false"
  m-clientMeta
>
  <div class="m-composerBase__container">
    <m-composer__titleBar
      [inputId]="textareaId"
      (onCreateBlog)="createBlog()"
    ></m-composer__titleBar>
    <m-composer__audienceSelectorButton
      *ngIf="isModal && !(isEditing$ | async)"
    ></m-composer__audienceSelectorButton>
    <div class="m-composerBase__scrollableArea">
      <m-composer__textArea
        [inputId]="textareaId"
        (filePaste)="onAttachmentPaste($event)"
        [compactMode]="isCompactMode$ | async"
        #textAreaComponent
      ></m-composer__textArea>

      <m-composer__previewWrapper></m-composer__previewWrapper>
      <m-composer__livestream></m-composer__livestream>
      <m-composerPreview--quote
        *ngIf="remind$ | async"
      ></m-composerPreview--quote>
    </div>
    <m-composer__toolbar
      (onPost)="onPost($event)"
      [isModal]="isModal"
    ></m-composer__toolbar>
  </div>

  <m-composer__popup #popupComponent></m-composer__popup>
</div>

<ng-template #scrollableArea> </ng-template>
