<div
  class="m-toaster__toastsContainer"
  *ngIf="visibleToasts"
  data-ref="data-minds-toaster-container"
>
  <ng-container *ngFor="let toast of toasts; let i = index">
    <div
      class="m-toaster__wrapper"
      [@fader]="toast.dismissed ? 'dismissed' : 'active'"
      (mouseover)="pauseTimeout(i)"
      (mouseleave)="resumeTimeout(i)"
      data-ref="data-minds-toaster-wrapper"
    >
      <div [ngClass]="['m-toaster__iconWrapper--' + toast.type]">
        <i class="material-icons">
          <ng-container *ngIf="toast.type === 'success'">check</ng-container>
          <ng-container *ngIf="toast.type === 'error'">report</ng-container>
          <ng-container *ngIf="toast.type === 'info'"
            >error_outline</ng-container
          >
          <ng-container *ngIf="toast.type === 'warning'">warning</ng-container>
        </i>
      </div>
      <p>{{ toast.message }}</p>
      <div class="m-toaster__iconWrapper--close">
        <i class="material-icons" (click)="dismiss(i)">clear</i>
      </div>
    </div>
    <!-- The spacer replaces margin-bottom b/c smoother animation -->
    <div
      class="m-toaster__spacer"
      [@fader]="toast.dismissed ? 'dismissed' : 'active'"
    ></div>
  </ng-container>
  <div class="m-toasterContainer__spacer"></div>
</div>
