m-channel__content {
  display: block;

  &.m-channelContent--nsfw {
    position: absolute;
    top: 0;
    bottom: 0;
    width: 100%;

    .m-channelContent--unavailable {
      margin-top: 0;
      padding-top: 1px;

      @include m-theme() {
        border-top: none;
        background-color: themed($m-bgColor--primary);
      }
    }
  }

  .m-channelContent--unavailable {
    margin: 5% 0 0;
    height: 100%;

    @include m-theme() {
      border-top: 1px solid themed($m-borderColor--primary);
    }
  }

  .m-channelContent__loading {
    text-align: center;
  }

  .m-channelContent__wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 10% auto;

    @media screen and (max-width: $max-mobile) {
      margin: 10% 20px;
    }

    .m-channelContent__icon {
      font-size: 42px;
    }

    .m-channelContent__primaryText {
      font-size: 18px;
      text-align: center;
      font-weight: bold;
    }

    .m-channelContent__secondaryText {
      font-size: 12px;
      text-align: center;
      font-weight: normal;

      a {
        @include m-theme() {
          color: themed($m-link-text) !important;
        }
      }
    }
  }
}
