<m-discovery__tabs></m-discovery__tabs>

<m-discovery__feedItem
  *ngFor="let entity$ of feed$ | async"
  [m-clientMeta]="{ source: 'feed/boosts', medium: 'feed' }"
  [entity]="entity$ | async"
></m-discovery__feedItem>

<infinite-scroll
  (load)="loadNext()"
  [moreData]="hasMore$ | async"
  [inProgress]="inProgress$ | async"
>
</infinite-scroll>
