@import 'defaults.scss';

:host {
  cursor: default;

  .m-paywallBadge {
    z-index: 3;
    position: relative;
    display: inline-flex;
    align-items: center;
    border-radius: 3px;
    padding: 4px 5px;
    font-size: 12px;
    line-height: 14px;
    font-weight: 500;

    &.topRightPosition {
      position: absolute;
      top: 12px;
      right: 24px;
      display: flex;
    }

    &.iconOnly {
      padding: 0;
      @include m-theme() {
        color: themed($m-textColor--secondary);
      }
      i {
        margin: 0;
        @include body2Regular;
      }
    }
    &.isPlus {
      @include m-theme() {
        background-color: transparent !important;
        color: themed($m-textColor--primary);
        border: 1px solid (themed($m-blue));
        box-shadow: none !important;
      }
      > .m-paywallBadge__tierName {
        @include m-theme() {
          color: themed($m-white-always);
        }
      }
    }
    &.isSupermindRequest {
      @include m-theme() {
        background-color: themed($m-borderColor--primary);
      }

      > .m-paywallBadge__tierName {
        @include m-theme() {
          color: themed($m-textColor--primary) !important;
        }
      }
    }
    &.isSupermindReply {
      @include supermindGradient;
      @include m-theme() {
        background-color: transparent;
        border: none;
        box-shadow: none !important;
      }
      > .m-paywallBadge__tierName {
        @include m-theme() {
          color: themed($m-white-always) !important;
        }
      }
    }

    > .m-paywallBadge__tierName {
      font-weight: 500;
      @include m-theme() {
        color: themed($m-textColor--primary) !important;
      }
      margin-right: 0;
    }
    i {
      font-size: 11px;
      line-height: 12px;
      margin-right: 3px;
      margin-left: -2px;
    }
  }

  // *********************************
  // ** MINIMAL MODE **
  // *********************************
  // Need a background color in minimal mode
  // Because badge may overlay images/vids and become illegible
  .m-activity--minimalMode & {
    .m-paywallBadge {
      &.isPlus {
        @include m-theme() {
          background-color: themed($m-bgColor--primary) !important;
        }
      }
    }
  }

  // *********************************
  // ** SUPERMIND CONSOLE **
  // *********************************
  m-supermind__console & {
    .m-paywallBadge {
      display: none;
    }
  }
}
