@import 'defaults.scss';

:host {
  ::ng-deep m-discovery__feedItem {
    .m-discovery__feedItem--user > m-publisherCard {
      .m-publisherCard {
        border: none !important;
      }
    }
  }
}
