<div class="m-channel__actions">
  <!-- ------------------------------------------ -->
  <!-- CHANNEL OWNER -->
  <!-- ------------------------------------------ -->
  <ng-container *ngIf="service.isOwner$ | async; else nonOwner">
    <m-channelActions__boost></m-channelActions__boost>
    <m-channelActions__edit></m-channelActions__edit>
    <m-channelActions__proChannel></m-channelActions__proChannel>
  </ng-container>

  <!-- ------------------------------------------ -->
  <!-- CHANNEL VISITOR -->
  <!-- ------------------------------------------ -->
  <ng-template #nonOwner>
    <m-channelActions__menu>
      <m-button
        class="m-button-v2 m-button-v2--iconOnly"
        overlay="true"
        iconOnly="true"
      >
        <m-icon iconId="more_horiz" [sizeFactor]="0"></m-icon>
      </m-button>
    </m-channelActions__menu>

    <ng-container *ngIf="service.canInteract$ | async">
      <m-channelActions__wire></m-channelActions__wire>

      <div class="m-hideOnSmall">
        <m-channelActions__message
          *ngIf="service.isSubscribed$ | async"
        ></m-channelActions__message>
      </div>

      <m-channelActions__subscribe
        *ngIf="!(service.isSubscribed$ | async)"
      ></m-channelActions__subscribe>

      <m-channelActions__proChannel></m-channelActions__proChannel>
      <!-- TODO add in experiment -->
      <m-channelActions__supermind></m-channelActions__supermind>
    </ng-container>
  </ng-template>
</div>
