<ng-container *ngIf="notification; else ghostView">
  <ng-container *ngIf="!typeError; else errorView">
    <a
      #notificationWrapper
      class="m-notification__wrapperLink"
      [routerLink]="nounLink"
      [queryParams]="nounLinkParams"
    >
      <div
        class="m-notifications__notification"
        [class.m-notifications__notification--noPreview]="
          !entity || entity.type === 'user'
        "
        (click)="onClick($event)"
      >
        <div class="m-notificationsNotification__avatar">
          <a [routerLink]="['/', notification.from.username]">
            <img [src]="avatarUrl" />
          </a>
          <div
            *ngIf="typeBubbleTag"
            class="m-notificationsNotificationAvatar__typeBubbleTag"
          >
            <m-icon [iconId]="typeBubbleTag"></m-icon>
          </div>
        </div>
        <div class="m-notificationsNotification__body">
          <ng-container *ngIf="showFrom">
            <a
              [routerLink]="['/', notification.from.username]"
              class="m-notificationsNotificationBody__label--from"
              >{{ notification.from.name }}</a
            >

            <!-- Merged froms -->
            <span
              *ngIf="
                notification.merged_count === 1 && notification.merged_from[0]
              "
            >
              and
              <a [routerLink]="['/', notification.merged_from[0].username]">{{
                notification.merged_from[0].name
              }}</a>
            </span>
            <span *ngIf="notification.merged_count > 1">
              and {{ notification.merged_count }} others</span
            >
          </ng-container>

          {{ verb }}
          <!-- eg. commented on-->
          {{ pronoun }}
          <!-- eg. your, 'Mark's'-->

          <a [routerLink]="nounLink" [queryParams]="nounLinkParams">
            {{ noun }}
            <!-- eg. post-->
          </a>
        </div>
        <div class="m-notificationsNotification__timestamp">
          <span>{{
            notification.created_timestamp | friendlydatediff: '':false
          }}</span>
        </div>
        <span
          class="m-notificationsNotification__readIndicator"
          *ngIf="!notification.read"
        ></span>
      </div>

      <div
        class="m-notificationNotification__commentPreview"
        *ngIf="
          notification.type === 'comment' && notification.data.comment_excerpt
        "
      >
        <p>{{ notification.data.comment_excerpt }}</p>
        <p *ngIf="notification.entity">&nbsp;</p>
        <!-- spacer if there is a notification below -->
      </div>

      <m-comment
        [comment]="entity"
        [shouldOpenModal]="false"
        [isNotificationPreview]="true"
        *ngIf="entity?.type === 'comment'"
      ></m-comment>

      <m-newsfeed__entity
        *ngIf="showNewsfeedEntity"
        [entity]="entity"
        [displayOptions]="{
          minimalMode: true,
          showComments: false,
          autoplayVideo: false,
          showToolbar: false,
          bypassMediaModal: true,
          showOwnerBlock: notification.entity.subtype === 'remind',
          isFeed: true
        }"
      ></m-newsfeed__entity>
    </a>
  </ng-container>
</ng-container>

<ng-template #ghostView>
  <a class="m-notification__wrapperLink">
    <div
      class="m-notifications__notification m-notifications__notification--ghost"
    >
      <div class="m-notificationsNotification__avatar">
        <img />
      </div>
      <div class="m-notificationsNotification__body">
        <span></span>
      </div>
    </div>
  </a>
</ng-template>

<ng-template #errorView>
  <a class="m-notification__wrapperLink">
    <div
      class="m-notifications__notification m-notifications__notification--error"
    >
      <div class="m-notificationsNotification__avatar">
        <img />
      </div>
      <div class="m-notificationsNotification__body">
        <span>
          Uh-oh! We're unable to display this
          {{ notification.type }} notification
        </span>
      </div>
    </div>
  </a>
</ng-template>
