<div
  class="m-comments__thread"
  commentsScroll
  (previous)="autoloadPrevious()"
  [emitter]="commentsScrollEmitter"
  [enabled]="scrollable"
  [ngClass]="{
    'm-comments__thread--nested': level >= 1,
    'm-comments__thread--topLevel': level === 0
  }"
  #scrollArea
>
  <ng-container *ngIf="direction === 'desc'">
    <ng-container *ngTemplateOutlet="posterOutlet"></ng-container>
  </ng-container>

  <!-- --------------------------------  -->
  <p class="m-comments--load-error-label" *ngIf="!inProgress && !!error">
    <i class="material-icons">warning</i>
    <span>{{ error }}</span>
  </p>
  <!-- --------------------------------  -->
  <p
    class="m-commentsThread__blockedComment"
    *ngIf="isThreadBlocked()"
    i18n="@@MINDS__COMMENTS__CONTAINS_BLOCKED_REPLIES"
  >
    This thread contains replies from blocked channels.
  </p>
  <div class="m-layout--spacer"></div>
  <!-- --------------------------------  -->
  <div
    class="m-comments__viewMore m-comments__viewMore--newer"
    *ngIf="
      showReplies && direction === 'asc' ? loadPreviousToken : loadNextToken
    "
  >
    <m-button
      (onAction)="loadPrevious()"
      [saving]="ascendingInProgress"
      overlay="true"
      size="xsmall"
    >
      <span *ngIf="!ascendingInProgress && !loaded">
        <ng-container *ngIf="!error">
          ↑
          <ng-container i18n="@@MINDS__COMMENTS__VIEW_MORE_ACTION"
            >View more</ng-container
          ></ng-container
        >
        <ng-container *ngIf="error"
          ><ng-container i18n="@@MINDS__COMMENTS__TRY_AGAIN_ACTION"
            >Try again</ng-container
          ></ng-container
        >
      </span>
      <span *ngIf="!ascendingInProgress && loaded">
        <ng-container i18n="@@MINDS__COMMENTS__LOAD_LATER_ACTION"
          >Load later</ng-container
        >
      </span>
    </m-button>
  </div>

  <ng-container *ngIf="showReplies">
    <ng-container
      *ngFor="let comment of getComments(); let i = index; let first = first"
    >
      <m-comment
        [comment]="comment"
        [entity]="entity"
        [parent]="parent"
        [level]="level"
        [canEdit]="canEdit"
        [canDelete]="canDelete"
        [showReplies]="comment.show_replies"
        [compact]="compact"
        (delete)="delete(i)"
        (saved)="edited(i, $event)"
        (onReply)="reply($event.comment)"
        [poster]="poster"
        (onHeightChange)="onHeightChange.emit($event)"
        [ngClass]="{ 'm-commentsThreadComment--first': first && level === 0 }"
      ></m-comment>
    </ng-container>
  </ng-container>
  <!-- --------------------------------  -->
  <div
    class="m-comments__viewMore m-comments__viewMore--older"
    *ngIf="
      showReplies && direction === 'asc' ? loadNextToken : loadPreviousToken
    "
  >
    <m-button
      (onAction)="loadNext()"
      [saving]="inProgress || descendingInProgress"
      overlay="true"
      size="xsmall"
    >
      <span *ngIf="!descendingInProgress && !loaded">
        <ng-container *ngIf="!error"
          ><ng-container i18n="@@MINDS__COMMENTS__VIEW_MORE_ACTION"
            >View more</ng-container
          ></ng-container
        >
        <ng-container *ngIf="error"
          ><ng-container i18n="@@MINDS__COMMENTS__TRY_AGAIN_ACTION"
            >Try again</ng-container
          ></ng-container
        >
      </span>
      <span *ngIf="!descendingInProgress && loaded">
        <ng-container i18n="@@MINDS__COMMENTS__LOAD_EARLIER_ACTION"
          >Load earlier</ng-container
        >
      </span>
    </m-button>
  </div>
  <m-loadingSpinner
    [inProgress]="inProgress"
    *ngIf="inProgress && comments?.length === 0"
  >
  </m-loadingSpinner>
  <ng-container *ngIf="direction === 'asc'">
    <ng-container *ngTemplateOutlet="posterOutlet"></ng-container>
  </ng-container>
</div>
<!-- --------------------------------  -->

<ng-template #posterOutlet>
  <m-comment__poster
    #poster
    *ngIf="activityService.allowComment$ | async"
    [guid]="guid"
    [parent]="parent"
    [entity]="entity"
    [currentIndex]="comments.length - 1"
    [conversation]="conversation"
    [level]="level"
    (posted)="onPosted($event)"
    (optimisticPost)="onOptimisticPost($event)"
    [readonly]="readonly"
  >
  </m-comment__poster>
</ng-template>
