<div class="m-activity__wrapper" *ngIf="canShow">
  <ng-container m-clientMeta>
    <div class="m-activity__top">
      <div
        *ngIf="
          !service.displayOptions.minimalMode &&
          !service.displayOptions.isSidebarBoost
        "
        class="m-activityTop__avatarColumn"
      >
        <ng-container *ngIf="entity$ | async as entity">
          <!-- ----------------------------------- -->
          <!-- FLAG ROW SPACER  -->
          <!-- ----------------------------------- -->
          <div
            *ngIf="service.showFlagRow$ | async"
            class="m-activityLeftColumn__spacer"
          ></div>
          <!-- ----------------------------------- -->
          <!-- AVATAR  -->
          <!-- ----------------------------------- -->
          <m-activity__avatar [entity]="entity"></m-activity__avatar>
        </ng-container>
      </div>
      <div class="m-activityTop__mainColumn" *ngIf="entity$ | async as entity">
        <m-activity__flag
          *ngIf="service.showFlagRow$ | async"
        ></m-activity__flag>
        <m-activity__ownerBlock
          *ngIf="service.displayOptions.showOwnerBlock"
          (deleted)="delete()"
        >
        </m-activity__ownerBlock>
        <m-activity__content
          *ngIf="service.shouldShowContent$ | async"
        ></m-activity__content>
        <m-activity__nsfwConsent *ngIf="service.shouldShowNsfwConsent$ | async">
        </m-activity__nsfwConsent>
      </div>
    </div>

    <m-activity__toolbar
      *ngIf="service.displayOptions.showToolbar"
    ></m-activity__toolbar>

    <m-activity__supermindReplyLink
      *ngIf="
        (service.isSupermindRequestWithReply$ | async) &&
        service.displayOptions.isFeed &&
        !service.displayOptions.minimalMode &&
        !service.displayOptions.sidebarMode &&
        !service.displayOptions.isModal &&
        !service.displayOptions.boostRotatorMode
      "
    ></m-activity__supermindReplyLink>

    <ng-container *mIfBrowser>
      <m-comments__entityOutletV2
        *ngIf="service.displayOptions.showComments"
        [entity]="service.entity$ | async"
        [canDelete]="canDelete$ | async"
        [showOnlyToggle]="service.displayOptions.showOnlyCommentsToggle"
        [hideToggle]="service.isSupermindRequestWithReply$ | async"
        [fixedHeight]="service.displayOptions.fixedHeight"
        (onHeightChange)="onCommentsHeightChange($event)"
      >
      </m-comments__entityOutletV2>
    </ng-container>
  </ng-container>
</div>
