@import 'defaults.scss';

:host {
  display: block;
  position: relative;
  box-sizing: border-box;

  border-radius: $m-borderRadius;

  @include m-theme() {
    background: themed($m-bgColor--primary);
  }

  .m-activity__wrapper {
    display: flex;
    flex-direction: column;
    position: relative;
    box-sizing: border-box;
    border-radius: 0 !important;
  }

  // *********************************
  // ** BOOST CONSOLE - NEWSFEED **
  // *********************************
  m-boost-console-card &,
  .m-boost-console--booster--posts-list & {
    border-top: none !important;
  }

  // *********************************
  // ** FEED **
  // *********************************

  &.m-activity--isFeed {
    border-radius: 0;
    @include borderTop;

    .m-activity__top {
      padding-left: $activityAvatarSpacingLeft--feed;
      padding-right: $activitySpacingRight--feed;

      @media screen and (max-width: $max-mobile) {
        padding-left: $activityAvatarSpacingLeft--feed--mobile;
        padding-right: $activitySpacingRight--feed--mobile;
      }
    }
  }

  // *********************************
  // ** FIXED HEIGHT **
  // *********************************

  &.m-activity--fixedHeight {
    border-top: none !important;
    display: contents;

    .m-activity__wrapper {
      display: flex;
      width: 100%;
      // leave room for top boost rotator buttons
      height: calc(100% - 45px);

      justify-content: space-between;

      .m-activity__top {
        padding-top: $spacing4;
        overflow: hidden;
        // leave room for bottom toolbar
        height: calc(100% - 68px);
      }

      ::ng-deep {
        m-activity__nsfwConsent {
          flex: 1;
          display: flex;
          flex-direction: column;
        }
      }
    }
  }

  // *********************************
  // ** MINIMAL MODE **
  // *********************************

  &.m-activity--minimalMode {
    padding: 0;
    border-radius: $borderRadius--activity !important;

    @include m-theme() {
      border: 1px solid themed($m-borderColor--primary) !important;
    }

    @media screen and (max-width: $max-mobile) {
      border-radius: 0 !important;
      @include m-theme() {
        border: none !important;
        border-top: 1px solid themed($m-borderColor--primary) !important;
      }
    }

    ::ng-deep .m-videoPlayer__placeholder i {
      font-size: 70px;
    }

    .m-activity__top {
      padding-top: 0;
      padding-left: 0;
      padding-right: 0;
    }
  }

  // *********************************
  // ** MODAL **
  // *********************************

  m-activity__modal & {
    padding: 0;
    @media screen and (max-width: $max-mobile) {
      padding: 0;
    }
  }

  // *********************************
  // ** PRO **
  // *********************************

  m-pro--channel & {
    &.m-activity--isFeed {
      .m-activity__top {
        padding-left: 0;
        padding-right: 0;
      }
    }
  }

  // *********************************
  // ** SIDEBAR BOOST **
  // *********************************

  &.m-activity--isSidebarBoost {
    padding: 0;
    .m-activity__top {
      padding-top: 0;
    }
  }

  // *********************************
  // ** SINGLE **
  // *********************************

  &.m-activity--isSingle {
    padding: 0;
    border-top: none !important;

    @media screen and (max-width: $max-mobile) {
      padding: 0;
    }

    .m-activity__top {
      padding-left: $activityAvatarSpacingLeft--single;
      padding-right: $activitySpacingRight--single;
      padding-top: $spacing4;
      padding-bottom: 0;

      @media screen and (max-width: $max-mobile) {
        padding-left: $activityAvatarSpacingLeft--single--mobile;
        padding-right: $activitySpacingRight--single--mobile;
      }
    }

    .m-activityTop__avatarColumn,
    ::ng-deep m-activity__quote .m-activityTop__avatarColumn {
      padding-right: $activityAvatarSpacingRight--single;

      @media screen and (max-width: $max-mobile) {
        padding-right: $activityAvatarSpacingRight--single--mobile;
      }
    }
  }

  // *********************************
  // *********************************
  // *********************************
  // ** DEFAULT **
  // *********************************
  // *********************************
  // *********************************

  .m-activity__top {
    display: flex;
    flex-direction: row;
    padding-top: $spacing4;
  }

  .m-activityTop__mainColumn,
  ::ng-deep m-activity__quote .m-activityTop__mainColumn {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    min-width: 0; // See https://stackoverflow.com/a/66689926
  }

  .m-activityTop__avatarColumn,
  ::ng-deep m-activity__quote .m-activityTop__avatarColumn {
    padding-right: $activityAvatarSpacingRight--feed;

    @media screen and (max-width: $max-mobile) {
      padding-right: $activityAvatarSpacingRight--feed--mobile;
    }
  }

  // *********************************
  // ** COMMENTS **
  // *********************************
  // TODO: move these to the relevant comments file
  .m-comment .minds-avatar {
    @include m-theme() {
      background: themed($m-bgColor--primary);
    }
  }

  &
    > m-comments__entityOutlet
    > m-comments__tree
    > m-comments__thread
    > .m-comments__thread,
  & > m-comments__entityOutlet {
    & > m-comment__poster .m-commentPoster__wrapper {
      margin: 10px;
    }
  }

  // *********************************
  // ** FLAG ROW **
  // *********************************
  .m-activityLeftColumn__spacer {
    height: $spacing8;
  }
}
