<div class="m-composerPopup__content m-formWrapper">
  <ng-container *ngIf="isPlus"
    ><p
      class="m-form__row--label m-composerPopup__text"
      i18n="@@COMPOSER__MONETIZE_PLUS__POOL_DESC"
    >
      Submit this post to Minds+ members only and earn a share of our revenue
      based on how it performs.
    </p>

    <div class="m-composerPopup__checkbox">
      <m-formInput__checkbox
        [ngModel]="termsAccepted"
        [disabled]="isEditingPlus"
        (ngModelChange)="onTermsChange($event)"
      >
        <span i18n="@@COMPOSER__PLUS__TERMS__CHECKBOX"
          >I agree to the
          <a routerLink="/p/monetization-terms" target="_blank"
            >Minds monetization terms</a
          >
          and have the rights to monetize this content.
        </span>
        <ul>
          <li i18n="@@COMPOSER__PLUS__TERMS__IS_ORIGINAL_CONTENT">
            This content is my original content
          </li>
          <li i18n="@@COMPOSER__PLUS__TERMS__EXCLUSIVE_TO_MINDS_PLUS">
            This content is exclusive to Minds+
          </li>
        </ul>
        <span i18n="@@COMPOSER__PLUS__TERMS__VIOLATION_POLICY"
          >I understand that violation of these requirements may result in
          losing the ability to publish Premium Content for Minds+
          members.</span
        >
      </m-formInput__checkbox>
    </div>
    <div class="m-form__field--textboxToggle" hidden>
      <div
        class="m-form__row--label m-composerPopup__text"
        i18n="@@COMPOSER__MONETIZE_PLUS__EXCLUSIVITY_PERIOD"
      >
        Exclusivity Period
      </div>
      <div class="m-form__row--input">
        <div class="m-formInput__textboxToggle">
          <div
            (click)="setExpires(twoDays)"
            [ngClass]="{ optionActive: expires === twoDays }"
          >
            48 hours
          </div>
          <div
            (click)="setExpires(null)"
            [ngClass]="{ optionActive: !expires }"
          >
            Always
          </div>
        </div>
      </div>
    </div>
  </ng-container>

  <ng-container *ngIf="!isPlus"
    ><p
      class="m-composerPopup__text"
      i18n="@@COMPOSER__MONETIZE_PLUS__NOT_PRO_DESC"
    >
      You’ll need to upgrade to Minds+ in order to submit your post to the
      Minds+ content pool. You will earn revenue based on the performance of the
      content.
    </p>
    <m-button
      (onAction)="openPlusUpgradeModal()"
      i18n="@@COMPOSER__MONETIZE_PLUS_UPGRADE_TO_PRO"
    >
      Upgrade to Minds+
    </m-button>
  </ng-container>
</div>
<div class="m-composerPopup__action">
  <p
    class="m-composerPopup__error"
    *ngIf="isEditingPlus"
    i18n="@@COMPOSER__MONETIZE_PLUS__NO_EDITING_PLUS"
  >
    Posts in the Minds+ pool cannot be removed
  </p>

  <m-button
    *ngIf="isPlus"
    type="button"
    (onAction)="save()"
    [disabled]="!canSave"
    i18n="@@COMMON__SAVE"
    data-ref="monetize-save-button"
    size="small"
    color="blue"
    >Save</m-button
  >
</div>
